# Capstone Project: Predict Airbnb star ratings and investigate key features for high ratings

## Data import and data cleaning

#### Import libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_listings= pd.read_csv('data/listings.csv')

In [4]:
df_reviews=pd.read_csv('data/reviews.csv')

In [5]:
df_listings.head(5)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,15420,https://www.airbnb.com/rooms/15420,20231217045056,2023-12-17,city scrape,Rental unit in Edinburgh · ★4.98 · 1 bedroom ·...,NaN,"The neighbourhood is in the historic New Town,...",https://a0.muscache.com/pictures/cf69631f-4194...,60423,...,4.98,4.98,4.91,NaN,f,1,1,0,0,3.38
1,24288,https://www.airbnb.com/rooms/24288,20231217045056,2023-12-17,city scrape,Loft in Edinburgh · ★4.62 · 2 bedrooms · 2 bed...,NaN,"Boho, studenty, lively, cool neighbourhood",https://a0.muscache.com/pictures/3460007/88731...,46498,...,4.91,4.85,4.65,NaN,t,1,1,0,0,1.87
2,38628,https://www.airbnb.com/rooms/38628,20231217045056,2023-12-17,city scrape,Rental unit in Edinburgh · ★4.67 · 1 bedroom ·...,NaN,Quiet and easy access to outside. Fort Kinnair...,https://a0.muscache.com/pictures/miso/Hosting-...,165635,...,4.77,4.73,4.75,NaN,t,1,1,0,0,0.63
3,44552,https://www.airbnb.com/rooms/44552,20231217045056,2023-12-17,city scrape,Condo in Edinburgh · ★4.75 · 1 bedroom · 1 bed...,NaN,NaN,https://a0.muscache.com/pictures/airflow/Hosti...,195950,...,4.87,4.68,4.75,NaN,f,1,0,1,0,1.73
4,48645,https://www.airbnb.com/rooms/48645,20231217045056,2023-12-17,city scrape,Condo in Edinburgh · ★4.87 · 1 bedroom · 2 bed...,NaN,The Canongate is an area rich in culture and h...,https://a0.muscache.com/pictures/miso/Hosting-...,221474,...,4.94,4.96,4.77,NaN,t,1,0,1,0,6.37

In [9]:
df_listings.shape

(7049, 75)

In [10]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7049 non-null   int64
 1   listing_url                                   7049 non-null   object
 2   scrape_id                                     7049 non-null   int64
 3   last_scraped                                  7049 non-null   object
 4   source                                        7049 non-null   object
 5   name                                          7049 non-null   object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         4813 non-null   object
 8   picture_url                                   7049 non-null   object
 9   host_id                                       7049 non-null   int64
 10  host_url                                      7049 non-null   object
 11  host_name                                     7049 non-null   object
 12  host_since                                    7049 non-null   object
 13  host_location                                 5816 non-null   object
 14  host_about                                    3976 non-null   object
 15  host_response_time                            5178 non-null   object
 16  host_response_rate                            5178 non-null   object
 17  host_acceptance_rate                          6171 non-null   object
 18  host_is_superhost                             7017 non-null   object
 19  host_thumbnail_url                            7049 non-null   object
 20  host_picture_url                              7049 non-null   object
 21  host_neighbourhood                            2548 non-null   object
 22  host_listings_count                           7049 non-null   int64
 23  host_total_listings_count                     7049 non-null   int64
 24  host_verifications                            7049 non-null   object
 25  host_has_profile_pic                          7049 non-null   object
 26  host_identity_verified                        7049 non-null   object
 27  neighbourhood                                 4813 non-null   object
 28  neighbourhood_cleansed                        7049 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7049 non-null   float64
 31  longitude                                     7049 non-null   float64
 32  property_type                                 7049 non-null   object
 33  room_type                                     7049 non-null   object
 34  accommodates                                  7049 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                7037 non-null   object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          6952 non-null   float64
 39  amenities                                     7049 non-null   object
 40  price                                         5541 non-null   object
 41  minimum_nights                                7049 non-null   int64
 42  maximum_nights                                7049 non-null   int64
 43  minimum_minimum_nights                        7049 non-null   int64
 44  maximum_minimum_nights                        7049 non-null   int64
 45  minimum_maximum_nights                        7049 non-null   int64
 46  maximum_maximum_nights                        7049 non-null   int64
 47  minimum_nights_avg_ntm                        7049 non-null   float64
 48  maximum_nights_avg_ntm                        7049 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5541 non-null   object
 51  availability_30                               7049 non-null   int64
 52  availability_60                               7049 non-null   int64
 53  availability_90                               7049 non-null   int64
 54  availability_365                              7049 non-null   int64
 55  calendar_last_scraped                         7049 non-null   object
 56  number_of_reviews                             7049 non-null   int64
 57  number_of_reviews_ltm                         7049 non-null   int64
 58  number_of_reviews_l30d                        7049 non-null   int64
 59  first_review                                  6424 non-null   object
 60  last_review                                   6424 non-null   object
 61  review_scores_rating                          6428 non-null   float64
 62  review_scores_accuracy                        6428 non-null   float64
 63  review_scores_cleanliness                     6428 non-null   float64
 64  review_scores_checkin                         6428 non-null   float64
 65  review_scores_communication                   6428 non-null   float64
 66  review_scores_location                        6428 non-null   float64
 67  review_scores_value                           6428 non-null   float64
 68  license                                       693 non-null    object
 69  instant_bookable                              7049 non-null   object
 70  calculated_host_listings_count                7049 non-null   int64
 71  calculated_host_listings_count_entire_homes   7049 non-null   int64
 72  calculated_host_listings_count_private_rooms  7049 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7049 non-null   int64
 74  reviews_per_month                             6424 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 4.0+ MB

In [12]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535577 entries, 0 to 535576
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     535577 non-null  int64
 1   id             535577 non-null  int64
 2   date           535577 non-null  object
 3   reviewer_id    535577 non-null  int64
 4   reviewer_name  535577 non-null  object
 5   comments       535531 non-null  object
dtypes: int64(3), object(3)
memory usage: 24.5+ MB

In [13]:
df_reviews.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [14]:
df_reviews.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,15420,171793,2011-01-18,186358,Nels,My wife and I stayed at this beautiful apartme...
1,15420,176350,2011-01-31,95218,Gareth,Charlotte couldn't have been a more thoughtful...
2,15420,232149,2011-04-19,429751,Guido,I went to Edinburgh for the second time on Apr...
3,15420,236073,2011-04-23,420830,Mariah,This flat was incredible. As other guests have...
4,15420,263713,2011-05-15,203827,Linda,Fantastic host and the apartment was perfect. ...

In [15]:
df_listings.isnull().sum()

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    0
calculated_host_listings_count_entire_homes       0
calculated_host_listings_count_private_rooms      0
calculated_host_listings_count_shared_rooms       0
reviews_per_month                               625
Length: 75, dtype: int64

In [16]:
df_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [ ]:
df_listing_clean=df_listings[['id', 'name', 'host_id', 'host_response_time', 'host_response_rate']]

In [25]:
df_listings.loc[,'host_location']

'Edinburgh, United Kingdom'