# Capstone Project: Predict Airbnb star ratings and analyse key characteristics in reviews for high ratings

## Notebook 1: Loading and cleaning data

In [16]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels as sm

In [17]:
df_listing=pd.read_csv('data\listings.csv')

In [24]:
df_listing.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,15420,Rental unit in Edinburgh · ★4.98 · 1 bedroom ·...,60423,Charlotte,NaN,"Old Town, Princes Street and Leith Street",55.957590,-3.188050,Entire home/apt,124.0,3,532,2023-12-11,3.38,1,39,82,NaN
1,24288,Loft in Edinburgh · ★4.62 · 2 bedrooms · 2 bed...,46498,Gordon,NaN,"Canongate, Southside and Dumbiedykes",55.944983,-3.185293,Entire home/apt,75.0,3,301,2023-11-30,1.87,1,38,56,NaN
2,38628,Rental unit in Edinburgh · ★4.67 · 1 bedroom ·...,165635,Trish,NaN,Joppa,55.942150,-3.096400,Entire home/apt,100.0,5,73,2023-04-14,0.63,1,203,4,NaN
3,44552,Condo in Edinburgh · ★4.75 · 1 bedroom · 1 bed...,195950,Shaun,NaN,South Leith,55.966120,-3.171840,Private room,53.0,3,281,2023-11-26,1.73,1,45,30,NaN
4,48645,Condo in Edinburgh · ★4.87 · 1 bedroom · 2 bed...,221474,Mark,NaN,"Canongate, Southside and Dumbiedykes",55.950720,-3.183050,Private room,124.0,2,1000,2023-12-16,6.37,1,0,73,NaN

In [19]:
df_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7051 entries, 0 to 7050
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              7051 non-null   int64
 1   name                            7051 non-null   object
 2   host_id                         7051 non-null   int64
 3   host_name                       7049 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   7051 non-null   object
 6   latitude                        7051 non-null   float64
 7   longitude                       7051 non-null   float64
 8   room_type                       7051 non-null   object
 9   price                           5543 non-null   float64
 10  minimum_nights                  7051 non-null   int64
 11  number_of_reviews               7051 non-null   int64
 12  last_review                     6424 non-null   object
 13  reviews_per_month               6424 non-null   float64
 14  calculated_host_listings_count  7051 non-null   int64
 15  availability_365                7051 non-null   int64
 16  number_of_reviews_ltm           7051 non-null   int64
 17  license                         693 non-null    object
dtypes: float64(5), int64(7), object(6)
memory usage: 991.7+ KB

In [20]:
df_listing.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                            2
neighbourhood_group               7051
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                             1508
minimum_nights                       0
number_of_reviews                    0
last_review                        627
reviews_per_month                  627
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           6358
dtype: int64

In [21]:
df_listing_clean=df_listing.drop(['neighbourhood_group', 'license'], axis=1)

In [22]:
len(df_listing_clean[df_listing_clean['reviews_per_month'].isnull() == True])

627

In [25]:
df_reviews=pd.read_csv('data/reviews.csv')

In [26]:
df_reviews.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,15420,171793,2011-01-18,186358,Nels,My wife and I stayed at this beautiful apartme...
1,15420,176350,2011-01-31,95218,Gareth,Charlotte couldn't have been a more thoughtful...
2,15420,232149,2011-04-19,429751,Guido,I went to Edinburgh for the second time on Apr...
3,15420,236073,2011-04-23,420830,Mariah,This flat was incredible. As other guests have...
4,15420,263713,2011-05-15,203827,Linda,Fantastic host and the apartment was perfect. ...

In [27]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535577 entries, 0 to 535576
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     535577 non-null  int64
 1   id             535577 non-null  int64
 2   date           535577 non-null  object
 3   reviewer_id    535577 non-null  int64
 4   reviewer_name  535577 non-null  object
 5   comments       535531 non-null  object
dtypes: int64(3), object(3)
memory usage: 24.5+ MB