# Predicting Star Ratings of Edinburgh Airbnbs through Review Texts Analysis

# Notebook 1: Data Cleaning

In this notebook, we will first outline the objectives of the project. Then, we will begin the foundational steps, including loading the datasets, analyzing the contents of our data, and performing the first stage of the data cleaning process.

***

# Table of Contents

# Introduction

#### Problem Statement

For this analysis, the focus lies in the quest to improve the hosting experience on Airbnb, particularly in the city of Edinburgh. One challenge Airbnb hosts face is understanding what factors contribute to 
their Airbnb listing's star ratings, which significantly impact their bookings and revenue.

We aim to uncover valuable insights by analyzing review texts. Our primary goal is to predict average star ratings based on these reviews, providing hosts with actionable feedback on areas of improvement. By extracting key features from reviews, such as cleanliness, communication, and amenities, we can offer guidance to both new hosts seeking to establish themselves and experienced hosts looking to enhance their offerings. 

Ultimately, this analysis aims to empower hosts by providing useful insights and actionable recommendations to enhance their performance and maximize their ratings. Furthermore, we aim for these insights to not only benefit hosts in Edinburgh but also serve as valuable guidance for hosts in other cities facing similar challenges in the competitive Airbnb landscape.

#### Data Collection

The data used in this project consists of two datasets downloaded from [Inside Airbnb](http://insideairbnb.com/get-the-data). The first dataset contains information about Edinburgh Airbnb Listings, and the second dataset contains the reviews of these listings.

The data dictionary can be downloaded [here](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596).

***

# Data descriptions

## Import libraries

In [1]:
# Main libraries
import pandas as pd
import numpy as np

# Library for extracting data
import joblib

***

## Dataset descriptions

In [2]:
# Import datasets
df_listings= pd.read_csv('data/listings.csv')
df_reviews=pd.read_csv('data/reviews.csv')

In [3]:
# Show the first row of the listing dataframe
# As we have too many columns, we will make a matrix transpose to show all information
df_listings.head(1).T

                                                                               0
id                                                                         15420
listing_url                                   https://www.airbnb.com/rooms/15420
scrape_id                                                         20231217045056
last_scraped                                                          2023-12-17
source                                                               city scrape
...                                                                          ...
calculated_host_listings_count                                                 1
calculated_host_listings_count_entire_homes                                    1
calculated_host_listings_count_private_rooms                                   0
calculated_host_listings_count_shared_rooms                                    0
reviews_per_month                                                           3.38

[75 rows x 1 columns]

In [4]:
# Show the first row of the reviews dataframe
df_reviews.head(1)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,15420,171793,2011-01-18,186358,Nels,My wife and I stayed at this beautiful apartme...

In [5]:
# Show the dimensions of the datasets.
print(f'The shape of the listing dataset is {df_listings.shape}')
print(f'The shape of the review dataset is {df_reviews.shape}')

The shape of the listing dataset is (7049, 75)
The shape of the review dataset is (535577, 6)

We have two datasets that need to perform data cleaning at this stage. The Airbnb listing dataset contains **7049** rows and **75** columns. The reviews dataset contains **535577** rows and **6** columns. We will analyse the columns for these two datasets in more detail later, and eventually we will merge the information into one dataframe.

In [6]:
# Show the list that contains listings dataframe's columns
print(f'The initial columns in the listing dataset are')
list(df_listings.columns)

The initial columns in the listing dataset are

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'source',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [7]:
# Show the list that contains review dataframe's columns
print(f'The initial columns in the review dataset are')
list(df_reviews.columns)

The initial columns in the review dataset are

['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

## Data Dictionaries of Airbnb listing dataset

In [8]:
# Import raw data dictionary csv
df_dictionary = pd.read_csv('data/Data Dictionary.csv')

# Drop the first 6 unnecessary rows
df_dictionary_clean=df_dictionary.drop(range(6), axis=0)

# Reset index
df_dictionary_clean.reset_index(drop=True, inplace=True)

# Use the first row as column rows
df_dictionary_clean.columns=list(df_dictionary_clean.loc[0])

# Remove the first row
df_dictionary_clean.drop(0, inplace=True, axis=0)

# Reset index
df_dictionary_clean.reset_index(inplace=True, drop = True)

# Drop the 'Calculated' and 'Reference' column
df_dictionary_clean.drop(['Calculated', 'Reference'], axis=1, inplace=True)

In [9]:
# Show the data dictionary dataframe
df_dictionary_clean

,Field,Type,Description
0,id,integer,Airbnb's unique identifier for the listing
1,listing_url,text,NaN
2,scrape_id,bigint,"Inside Airbnb ""Scrape"" this was part of"
3,last_scraped,datetime,"UTC. The date and time this listing was ""scrap..."
4,source,text,"One of ""neighbourhood search"" or ""previous scr..."
...,...,...,...
74,reviews_per_month,numeric,The number of reviews the listing has over the...
75,NaN,NaN,NaN
76,Change control,NaN,NaN
77,Field,Change,NaN
78,source,Added,NaN

## Rating types overview

**review_scores_rating**	
- Overall experience. Overall, how was the stay?

**review_scores_cleanliness**
- Cleanliness. Did guests feel that the space was clean and tidy?

**review_scores_accuracy**
- Accuracy. How accurately did the listing page represent the space? For example, guests should be able to find up-to-date info and photos in the listing description.

**review_scores_value**
- Value. Did the guest feel that the listing provided good value for the price?

**review_scores_communication**
- Communication. How well did you communicate before and during the stay? Guests often care that their host responds quickly, reliably, and frequently to their messages and questions.

**review_score_checkin**
- Check-in. How smoothly did check-in go?

**review_score_location**
- Location. How did guests feel about the neighbourhood? This may mean that there’s an accurate description for proximity and access to transportation, shopping centres, city centre, etc., and a description that includes special considerations, like noise, and family safety.

***

## Dataset summary overview

In [10]:
# Check the listing dataframe data types
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7049 non-null   int64
 1   listing_url                                   7049 non-null   object
 2   scrape_id                                     7049 non-null   int64
 3   last_scraped                                  7049 non-null   object
 4   source                                        7049 non-null   object
 5   name                                          7049 non-null   object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         4813 non-null   object
 8   picture_url                                   7049 non-null   object
 9   host_id                                       7049 non-null   int64
 10  host_url                                      7049 non-null   object
 11  host_name                                     7049 non-null   object
 12  host_since                                    7049 non-null   object
 13  host_location                                 5816 non-null   object
 14  host_about                                    3976 non-null   object
 15  host_response_time                            5178 non-null   object
 16  host_response_rate                            5178 non-null   object
 17  host_acceptance_rate                          6171 non-null   object
 18  host_is_superhost                             7017 non-null   object
 19  host_thumbnail_url                            7049 non-null   object
 20  host_picture_url                              7049 non-null   object
 21  host_neighbourhood                            2548 non-null   object
 22  host_listings_count                           7049 non-null   int64
 23  host_total_listings_count                     7049 non-null   int64
 24  host_verifications                            7049 non-null   object
 25  host_has_profile_pic                          7049 non-null   object
 26  host_identity_verified                        7049 non-null   object
 27  neighbourhood                                 4813 non-null   object
 28  neighbourhood_cleansed                        7049 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7049 non-null   float64
 31  longitude                                     7049 non-null   float64
 32  property_type                                 7049 non-null   object
 33  room_type                                     7049 non-null   object
 34  accommodates                                  7049 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                7037 non-null   object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          6952 non-null   float64
 39  amenities                                     7049 non-null   object
 40  price                                         5541 non-null   object
 41  minimum_nights                                7049 non-null   int64
 42  maximum_nights                                7049 non-null   int64
 43  minimum_minimum_nights                        7049 non-null   int64
 44  maximum_minimum_nights                        7049 non-null   int64
 45  minimum_maximum_nights                        7049 non-null   int64
 46  maximum_maximum_nights                        7049 non-null   int64
 47  minimum_nights_avg_ntm                        7049 non-null   float64
 48  maximum_nights_avg_ntm                        7049 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5541 non-null   object
 51  availability_30                               7049 non-null   int64
 52  availability_60                               7049 non-null   int64
 53  availability_90                               7049 non-null   int64
 54  availability_365                              7049 non-null   int64
 55  calendar_last_scraped                         7049 non-null   object
 56  number_of_reviews                             7049 non-null   int64
 57  number_of_reviews_ltm                         7049 non-null   int64
 58  number_of_reviews_l30d                        7049 non-null   int64
 59  first_review                                  6424 non-null   object
 60  last_review                                   6424 non-null   object
 61  review_scores_rating                          6428 non-null   float64
 62  review_scores_accuracy                        6428 non-null   float64
 63  review_scores_cleanliness                     6428 non-null   float64
 64  review_scores_checkin                         6428 non-null   float64
 65  review_scores_communication                   6428 non-null   float64
 66  review_scores_location                        6428 non-null   float64
 67  review_scores_value                           6428 non-null   float64
 68  license                                       693 non-null    object
 69  instant_bookable                              7049 non-null   object
 70  calculated_host_listings_count                7049 non-null   int64
 71  calculated_host_listings_count_entire_homes   7049 non-null   int64
 72  calculated_host_listings_count_private_rooms  7049 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7049 non-null   int64
 74  reviews_per_month                             6424 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 4.0+ MB

In [11]:
# Check the percentage of null values in listing dataset
pd.set_option('display.max_rows', 75)
print("Initial Percentage of Null Values in the Listing dataset %")
print(round(df_listings.isna().sum()/df_listings.shape[0]*100, 2).sort_values (ascending=False)) #coverted into a percent(%) and round to 2 decimal places

Initial Percentage of Null Values in the Listing dataset %
bedrooms                                        100.00
description                                     100.00
calendar_updated                                100.00
bathrooms                                       100.00
neighbourhood_group_cleansed                    100.00
license                                          90.17
host_neighbourhood                               63.85
host_about                                       43.59
neighbourhood                                    31.72
neighborhood_overview                            31.72
host_response_rate                               26.54
host_response_time                               26.54
price                                            21.39
has_availability                                 21.39
host_location                                    17.49
host_acceptance_rate                             12.46
first_review                                      8.87
last_review                                       8.87
reviews_per_month                                 8.87
review_scores_accuracy                            8.81
review_scores_location                            8.81
review_scores_rating                              8.81
review_scores_cleanliness                         8.81
review_scores_checkin                             8.81
review_scores_communication                       8.81
review_scores_value                               8.81
beds                                              1.38
host_is_superhost                                 0.45
bathrooms_text                                    0.17
calendar_last_scraped                             0.00
number_of_reviews                                 0.00
availability_365                                  0.00
availability_90                                   0.00
availability_60                                   0.00
availability_30                                   0.00
number_of_reviews_ltm                             0.00
number_of_reviews_l30d                            0.00
host_thumbnail_url                                0.00
source                                            0.00
last_scraped                                      0.00
picture_url                                       0.00
scrape_id                                         0.00
instant_bookable                                  0.00
calculated_host_listings_count                    0.00
calculated_host_listings_count_entire_homes       0.00
calculated_host_listings_count_private_rooms      0.00
calculated_host_listings_count_shared_rooms       0.00
name                                              0.00
minimum_nights_avg_ntm                            0.00
maximum_nights_avg_ntm                            0.00
host_picture_url                                  0.00
host_listings_count                               0.00
host_total_listings_count                         0.00
host_verifications                                0.00
host_has_profile_pic                              0.00
host_identity_verified                            0.00
host_since                                        0.00
neighbourhood_cleansed                            0.00
host_name                                         0.00
latitude                                          0.00
longitude                                         0.00
property_type                                     0.00
room_type                                         0.00
accommodates                                      0.00
host_url                                          0.00
listing_url                                       0.00
amenities                                         0.00
host_id                                           0.00
minimum_nights                                    0.00
maximum_nights                                    0.00
minimum_minimum_nights                            0.00
maximum_minimum_nights                            0.00
minimum_maximum_nights                            0.00
maximum_maximum_nights                            0.00
id                                                0.00
dtype: float64

In [12]:
# Check the review dataframe data types
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535577 entries, 0 to 535576
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     535577 non-null  int64
 1   id             535577 non-null  int64
 2   date           535577 non-null  object
 3   reviewer_id    535577 non-null  int64
 4   reviewer_name  535577 non-null  object
 5   comments       535542 non-null  object
dtypes: int64(3), object(3)
memory usage: 24.5+ MB

In [13]:
# Check the percentage of null values in review dataset
print("Initial Percentage of Null Values in the Review dataset %")
print(round(df_reviews.isna().sum()/df_reviews.shape[0]*100, 2).sort_values (ascending=False)) #coverted into a percent(%) and round to 2 decimal places

Initial Percentage of Null Values in the Review dataset %
comments         0.01
listing_id       0.00
id               0.00
date             0.00
reviewer_id      0.00
reviewer_name    0.00
dtype: float64

The listing dataset contains multiple columns with null values. We will investigate all of the columns by category first considering we have over 70 columns in the listing dataset. Then we will drop the columns if they either contain no useful information, contain only null values, or contain replicated information that we can retrieve from the other columns. We will also investigate the rows that contain missing values from the remaining columns and fillin these values if necessary before we decide to drop these rows. 

The review dataset seems quite clean, as we only have `comments` column contains less than 0.1% of null values, we will drop these rows from the review dataset.

***

## Clean the Review Dataset

First, we will clean the review dataset by removing the rows with no reviews and alson remove the rows which corresponds to listings with less than 3 reviews. This is so that our review analysis later will have enough reviews for each of the Airbnb listing.

First, we will extract the listing ids corresponds to the rows with no reviews in the review dataset, and check if these listings have no reviews at all or just these rows.

In [14]:
# Create a dataframe contains these null review data
null_reviews = df_reviews[df_reviews['comments'].isnull()]

# Check if the listings in the null_reviews dataframe have no reviews at all in the entire dataframe
df_reviews.groupby('listing_id').count().loc[null_reviews['listing_id']].isnull().sum()

id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

Therefore, we can use all the unique listing ids in the reviews dataframe to filter our listing dataframe after we drop these rows by extracting the listing ids that have more than 3 reviews.

In [15]:
# Remove these rows in the reviews dataframe
df_reviews_clean=df_reviews.drop(null_reviews.index, axis=0)

# Reset index
df_reviews_clean=df_reviews_clean.reset_index(drop=True)

# Filter listing data and only select listings with more than 3 reviews
review_counts=df_reviews_clean.groupby('listing_id').count()['id']

# Generate listing ids which has more than 3 reviews
filtered_list=[i for i in review_counts.index if review_counts[i]>=3]

# Select 'listing_id' column as dataframe index
df_reviews_clean.set_index('listing_id', inplace=True)

# Remove rows that have ids not in the generated reviews filtered list and reset index.
df_reviews_clean=df_reviews_clean.loc[filtered_list].reset_index()

***

## Clean the Listing Dataset

First, we will remove the listings from the extracted listing ids that have less than 3 reviews.

### Remove listings with less than 3 reviews

In [16]:
# Select 'listing_id' column as dataframe index
df_listings_clean=df_listings.set_index('id')

# Remove rows that have ids not in the generated reviews filtered list and reset index.
df_listings_clean=df_listings_clean.loc[filtered_list].reset_index()

Before we remove the columns that only contain null values, we will first remove the urls and scraping related columns.

### Remove url/Scraping columns

In [17]:
# Remove url and scrape related columns
ls=[]
for i in df_listings_clean.columns:
    if ('url' in i) | ('scrape' in i):
        ls.append(i)
df_listings_clean.drop(ls, axis=1, inplace=True)
df_listings_clean.drop('source', axis=1, inplace=True)

### Remove columns only contain null values

In [18]:
# Remove columns contain no values
for i in df_listings_clean.columns:
    if df_listings_clean.isnull().sum()[i] == df_listings_clean.shape[0]:
        df_listings_clean.drop(i, axis=1, inplace=True)

### Clean Host related columns

First, we will drop the columns that contain replicated information.

In [19]:
# Create a list which has host related column names
host_columns=[]
for i in df_listings_clean.columns:
    if 'host' in i:
        host_columns.append(i)
# Show the host related column names
print(f'The columns that are related to the listing hosts are')
host_columns

The columns that are related to the listing hosts are

['host_id',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms']

We will remove the `host_name` column as names are irrelevant for our analysis, also it will include plenty duplicate values. The `host_neighbourhood` is dropped as it contains duplicate information compare to the `host_location` column.

In [20]:
# Remove 'host_name','host_total_listings_count' and 'host_listings_count' columns
df_listings_clean.drop(['host_name','host_neighbourhood', 'host_total_listings_count', 'host_listings_count'],
                       inplace=True, axis=1)

We will also remove `host_total_listings_count` and `host_listings_count` as the `calculated_host_listings_count` is the correct column showing the number of listings per host after checking.

In [21]:
# Create an array contains number of listings per host
host_listing_num=df_listings_clean.groupby('host_id').count()['id']

# Check if the number of listings per host matches the 'calculated_host_listings_count' column
for i in host_listing_num.index:
    if host_listing_num[i] != df_listings_clean[df_listings_clean['host_id']==i]['calculated_host_listings_count'].unique():
        print(i, 'This one is wrong')

192586 This one is wrong
236828 This one is wrong
253850 This one is wrong
273097 This one is wrong
299509 This one is wrong
646220 This one is wrong
851172 This one is wrong
1111601 This one is wrong
1150765 This one is wrong
1267171 This one is wrong
1915325 This one is wrong
2529624 This one is wrong
2711564 This one is wrong
2970569 This one is wrong
3008499 This one is wrong
3092851 This one is wrong
3503210 This one is wrong
3535509 This one is wrong
3797020 This one is wrong
4265889 This one is wrong
4295122 This one is wrong
5021059 This one is wrong
5351643 This one is wrong
5505419 This one is wrong
7324873 This one is wrong
7371942 This one is wrong
7768900 This one is wrong
7848001 This one is wrong
8047634 This one is wrong
8538394 This one is wrong
8601197 This one is wrong
9312244 This one is wrong
11335738 This one is wrong
11864182 This one is wrong
13071175 This one is wrong
13253365 This one is wrong
13262819 This one is wrong
13513326 This one is wrong
14630118 This one is wrong
15477987 This one is wrong
15733817 This one is wrong
16567422 This one is wrong
17840333 This one is wrong
18031857 This one is wrong
19149230 This one is wrong
20323803 This one is wrong
20946764 This one is wrong
21906467 This one is wrong
21914275 This one is wrong
22120337 This one is wrong
22165845 This one is wrong
22411246 This one is wrong
22597535 This one is wrong
23000330 This one is wrong
25236378 This one is wrong
25288555 This one is wrong
26836949 This one is wrong
27210189 This one is wrong
27879549 This one is wrong
28820321 This one is wrong
29624831 This one is wrong
29636828 This one is wrong
31102493 This one is wrong
31279214 This one is wrong
31612266 This one is wrong
33351537 This one is wrong
34516872 This one is wrong
35060579 This one is wrong
36469658 This one is wrong
36642774 This one is wrong
36864765 This one is wrong
36943329 This one is wrong
37115195 This one is wrong
37224008 This one is wrong
37408462 This one is wrong
37563463 This one is wrong
37881539 This one is wrong
38844412 This one is wrong
38902392 This one is wrong
41126802 This one is wrong
41448306 This one is wrong
41977232 This one is wrong
42643767 This one is wrong
43770987 This one is wrong
44739213 This one is wrong
45597457 This one is wrong
48235049 This one is wrong
52134134 This one is wrong
54714349 This one is wrong
56187273 This one is wrong
57006007 This one is wrong
60329345 This one is wrong
60620700 This one is wrong
61944399 This one is wrong
62081552 This one is wrong
65331433 This one is wrong
66687071 This one is wrong
68259203 This one is wrong
68602458 This one is wrong
70530580 This one is wrong
71951646 This one is wrong
74085933 This one is wrong
77485591 This one is wrong
77572662 This one is wrong
85253557 This one is wrong
89866174 This one is wrong
95504572 This one is wrong
101026003 This one is wrong
102221550 This one is wrong
103358150 This one is wrong
103871795 This one is wrong
104064623 This one is wrong
105290948 This one is wrong
107294895 This one is wrong
108167415 This one is wrong
108414033 This one is wrong
108899817 This one is wrong
115246563 This one is wrong
118667274 This one is wrong
118866298 This one is wrong
119509555 This one is wrong
122726044 This one is wrong
127390911 This one is wrong
127577250 This one is wrong
128996433 This one is wrong
131212639 This one is wrong
131907591 This one is wrong
132083211 This one is wrong
136249256 This one is wrong
137435771 This one is wrong
137636717 This one is wrong
140820300 This one is wrong
140972028 This one is wrong
142182685 This one is wrong
146730114 This one is wrong
152788806 This one is wrong
154679135 This one is wrong
156775899 This one is wrong
158684979 This one is wrong
160266097 This one is wrong
163261868 This one is wrong
169562307 This one is wrong
176156075 This one is wrong
176177214 This one is wrong
176683016 This one is wrong
178209423 This one is wrong
178574635 This one is wrong
183342299 This one is wrong
184263593 This one is wrong
186619081 This one is wrong
195500702 This one is wrong
196000819 This one is wrong
196521706 This one is wrong
198521707 This one is wrong
203242321 This one is wrong
204455718 This one is wrong
221578426 This one is wrong
222202509 This one is wrong
228654487 This one is wrong
229001811 This one is wrong
230057241 This one is wrong
231149979 This one is wrong
232827957 This one is wrong
235186576 This one is wrong
238856343 This one is wrong
241635233 This one is wrong
244164450 This one is wrong
244475226 This one is wrong
247059476 This one is wrong
248354848 This one is wrong
251489299 This one is wrong
254064024 This one is wrong
254272601 This one is wrong
268095736 This one is wrong
270790067 This one is wrong
272200535 This one is wrong
273477403 This one is wrong
275384080 This one is wrong
297330036 This one is wrong
317425302 This one is wrong
318405072 This one is wrong
333709083 This one is wrong
342148832 This one is wrong
343580852 This one is wrong
344268039 This one is wrong
351232477 This one is wrong
369624884 This one is wrong
369628671 This one is wrong
372308030 This one is wrong
376622802 This one is wrong
377906744 This one is wrong
389269661 This one is wrong
395228484 This one is wrong
395767976 This one is wrong
399777882 This one is wrong
399808685 This one is wrong
404888323 This one is wrong
410396769 This one is wrong
411875576 This one is wrong
412441056 This one is wrong
414435237 This one is wrong
416041728 This one is wrong
433116832 This one is wrong
434874365 This one is wrong
437202345 This one is wrong
439957803 This one is wrong
452369901 This one is wrong
457717158 This one is wrong
459583827 This one is wrong
461904075 This one is wrong
465376593 This one is wrong
465687754 This one is wrong
468117455 This one is wrong
469947713 This one is wrong
476176880 This one is wrong
477816136 This one is wrong
498707664 This one is wrong
518018047 This one is wrong
519945528 This one is wrong
522182587 This one is wrong
523624872 This one is wrong
527790963 This one is wrong

No error appears so the column `calculated_host_listings_count` matches `host_listing_count` column.

Next, we will look at the hot related columns that contain missing values.

In [22]:
# Create a list which has host related column names
host_columns_cleaned=[]
for i in df_listings_clean.columns:
    if 'host' in i:
        host_columns_cleaned.append(i)
        
# Create a series that contains number of null values in all remaing host related columns
host_cleaned_null=df_listings_clean[host_columns_cleaned].isnull().sum()

# Use list comprehension to show the columns that have null values
host_cleaned_null[[i for i in host_cleaned_null.index if host_cleaned_null[i] !=0]]

host_location            902
host_about              2386
host_response_time      1417
host_response_rate      1417
host_acceptance_rate     596
host_is_superhost         30
dtype: int64

The `host_location` column contains the location details about the host, the `host_about` column shows the host introductions. As these columns contains texts, we can fill the null values in these columns as 'None'.

In [23]:
# Fill null values in neighbourhood_overview columns
df_listings_clean[['host_location', 'host_about']] = df_listings_clean[['host_location', 'host_about']].fillna(value='None')

The `host_response_time`, `host_response_rate` and `host_acceptance_rate` reveals similar information about how active the hosts are regard to new bookings. We will deal with these three columns seperately by first looking at what the data is like.

In [24]:
# Check the values in 'host_response_time' columns
df_listings_clean['host_response_time'].value_counts()

within an hour        3595
within a few hours     574
within a day           265
a few days or more      59
Name: host_response_time, dtype: int64

In [25]:
# Check the values in 'host_response_rate' columns
df_listings_clean['host_response_rate'].value_counts()

100%    3648
99%      250
90%      134
98%       74
80%       32
0%        31
96%       28
97%       21
93%       20
92%       17
94%       17
50%       16
83%       16
67%       15
86%       14
81%       12
88%       12
60%       12
95%       11
84%       11
89%       11
75%       11
70%       10
71%        8
57%        8
91%        7
82%        6
63%        5
29%        5
20%        5
40%        4
25%        4
78%        3
66%        3
33%        2
30%        2
58%        2
34%        2
13%        1
87%        1
10%        1
43%        1
Name: host_response_rate, dtype: int64

In [26]:
# Check the values in 'host_acceptance_rate' columns
df_listings_clean['host_acceptance_rate'].value_counts()

100%    2099
99%      838
98%      271
97%      252
96%      178
        ...
26%        1
13%        1
14%        1
30%        1
24%        1
Name: host_acceptance_rate, Length: 85, dtype: int64

Therefore, we will fill the null values in `host_response_time` as 'Not provided', convert the `host_response_rate` and `host_acceptance_rate` as floats from percentage string, and fill null values in these two columns as 0.

In [27]:
# Fill the null values in 'host_response_time' as 'Not provided'.
df_listings_clean['host_response_time'] = df_listings_clean['host_response_time'].fillna('Not provided')

# Convert the response rate as floats from percentage string and fill null values as 0.
df_listings_clean['host_response_rate'] = df_listings_clean['host_response_rate'].apply(lambda col: float(str(col).replace('%', '')))
df_listings_clean['host_response_rate'] = df_listings_clean['host_response_rate'].fillna(value=0)

# Convert the acceptance rate as floats from percentage string and fill null values as 0.
df_listings_clean['host_acceptance_rate'] = df_listings_clean['host_acceptance_rate'].apply(lambda col: float(str(col).replace('%', '')))
df_listings_clean['host_acceptance_rate'] = df_listings_clean['host_acceptance_rate'].fillna(value=0)

For the `host_is_superhost` column, the data shows if the host is a superhost using boolean values (t for true and f for false). Therefore, it is sensible to assume that a null value indicates that the host is not a superhost.

In [28]:
# Check the 'host_is_superhost' column.
df_listings_clean['host_is_superhost'].value_counts()

f    3322
t    2558
Name: host_is_superhost, dtype: int64

In [29]:
# Fillin null values for 'host_is_superhost' column by 'f'.
df_listings_clean['host_is_superhost'] = df_listings_clean['host_is_superhost'].fillna(value='f')

We can check if the current host related columns contain any null values

In [30]:
df_listings_clean[host_columns_cleaned].isnull().sum()

host_id                                         0
host_since                                      0
host_location                                   0
host_about                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_verifications                              0
host_has_profile_pic                            0
host_identity_verified                          0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

### Clean location related columns

From the listing column names, we can extract the columns that contain property location informtion. The columns are `neighbourhood_overview`, `neighbourhood`, `neighbourhood_cleansed`,`latitude`, `longtitude`. We can first see what these columns contain, then check if these columns contain any null values.

In [31]:
# Check the location columns in the first row 
df_listings_clean[['neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude']].head(1).T

                                                                        0
neighborhood_overview   The neighbourhood is in the historic New Town,...
neighbourhood                Edinburgh, City of Edinburgh, United Kingdom
neighbourhood_cleansed          Old Town, Princes Street and Leith Street
latitude                                                         55.95759
longitude                                                        -3.18805

In [32]:
# Check if the property location related columns have any null values
df_listings_clean[['neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude']].isnull().sum()

neighborhood_overview     1589
neighbourhood             1589
neighbourhood_cleansed       0
latitude                     0
longitude                    0
dtype: int64

The `neighborhood_overview` column shows the neighborhood information hosts write about the listing, thus we can fill the null values in this column as 'None'. The `neighbourhood` column contains replicated information as the `neighborhood_overview` column, thus we can drop this column.

In [33]:
# Fill the null values in the neighborhood_overview column as None
df_listings_clean['neighborhood_overview'] = df_listings_clean['neighborhood_overview'].fillna('None')

# Remove neighbourhood column
df_listings_clean.drop('neighbourhood', axis=1, inplace= True)

### Clean property related columns

The listing dataset contains multiple columns that are related to the property itself. This includes `name`,`property_type`,`room_type`,`accomodates`,`bathrooms_text`,`beds`,and `amenities`. We will first see what these columns contain, then check if these columns contain null values.

In [34]:
# Check the property related columns in the first row 
df_listings_clean[['name','property_type','room_type','accommodates','bathrooms_text','beds','amenities']].head(1).T

                                                                0
name            Rental unit in Edinburgh · ★4.98 · 1 bedroom ·...
property_type                                  Entire rental unit
room_type                                         Entire home/apt
accommodates                                                    2
bathrooms_text                                             1 bath
beds                                                          1.0
amenities                                                      []

In [35]:
# Check if the property related columns contain any null values
df_listings_clean[['name','property_type','room_type','accommodates','bathrooms_text','beds','amenities']].isnull().sum()

name               0
property_type      0
room_type          0
accommodates       0
bathrooms_text     4
beds              47
amenities          0
dtype: int64

By checking the amentities column, we observe that no useful information is contained therefore we will drop this column.

In [36]:
# Check the amentities column
df_listings_clean['amenities'].value_counts()

[]    5910
Name: amenities, dtype: int64

In [37]:
# Drop amentities column
df_listings_clean.drop('amenities', axis=1, inplace=True)

The name of the property contains the information of the property_type, location, star rating, number of bedrooms and number of bathrooms. Therefore, we can extract the information in this column to fill the null values in the `bathrooms_text` and the `beds` columns first, then drop this column.

For the 'bathrooms_text', we can check what the rows that contain these data looks like in our dataframe.

In [38]:
# Check the rows that contains missing bathroom_text data.
df_listings_clean[df_listings_clean['bathrooms_text'].isnull()].T

,83,151,228,536
id,641460,1360543,2486691,6909721
name,Serviced apartment in Edinburgh · ★4.54 · 2 be...,Home in Edinburgh · ★4.67 · 1 bedroom · 1 bed,Rental unit in Edinburgh · ★4.93 · 1 bedroom ·...,Hostel in Edinburgh · ★4.68 · Studio · 1 bed
neighborhood_overview,There is a 24-hour Asda supermarket located wi...,None,"Beautiful neighbourhood, situated in a wide, t...",Whether you're visiting for the Fringe festiva...
host_id,2989965,7385507,12724800,20509940
host_since,2012-07-19,2013-07-09,2014-03-02,2014-08-25
host_location,"Edinburgh, United Kingdom","Edinburgh, United Kingdom","Edinburgh, United Kingdom",None
host_about,"Hi, We are Ocean Serviced Apartments.\r\nWe ha...","Local Scotsman, from Oban originally, but live...","Everyone has a story, let's talk!",None
host_response_time,Not provided,within a few hours,Not provided,within an hour
host_response_rate,0.0,100.0,0.0,96.0
host_acceptance_rate,100.0,0.0,0.0,100.0
host_is_superhost,f,f,f,f
host_verifications,"['email', 'phone', 'work_email']","['email', 'phone']","['email', 'phone', 'work_email']","['email', 'phone']"
host_has_profile_pic,t,t,t,t
host_identity_verified,f,t,t,t
neighbourhood_cleansed,Western Harbour and Leith Docks,Deans Village,Marchmont West,"Old Town, Princes Street and Leith Street"
latitude,55.98616,55.94985,55.93767,55.95123
longitude,-3.18849,-3.21821,-3.19818,-3.20041
property_type,Room in serviced apartment,Private room in home,Private room in rental unit,Room in hostel
room_type,Hotel room,Private room,Private room,Hotel room
accommodates,5,2,2,2
bathrooms_text,NaN,NaN,NaN,NaN
beds,4.0,1.0,1.0,1.0
price,$200.00,$100.00,NaN,$196.00
minimum_nights,4,90,3,1
maximum_nights,300,1125,1125,365
minimum_minimum_nights,4,90,3,1
maximum_minimum_nights,4,90,3,3
minimum_maximum_nights,1125,1125,1125,365
maximum_maximum_nights,1125,1125,1125,365
minimum_nights_avg_ntm,4.0,90.0,3.0,2.9
maximum_nights_avg_ntm,1125.0,1125.0,1125.0,365.0
has_availability,t,t,NaN,t
availability_30,0,0,0,11
availability_60,0,0,0,37
availability_90,0,0,0,64
availability_365,4,1,0,298
number_of_reviews,82,18,14,22
number_of_reviews_ltm,1,0,0,2
number_of_reviews_l30d,0,0,0,0
first_review,2013-08-13,2013-08-07,2015-02-20,2015-09-21
last_review,2023-08-12,2018-01-03,2018-06-20,2023-11-15
review_scores_rating,4.54,4.67,4.93,4.68
review_scores_accuracy,4.76,4.89,5.0,4.68
review_scores_cleanliness,4.67,4.44,4.79,4.68
review_scores_checkin,4.6,4.83,5.0,4.59
review_scores_communication,4.62,4.83,4.93,4.68
review_scores_location,4.47,4.78,4.93,4.82
review_scores_value,4.54,4.5,4.71,4.68
license,NaN,NaN,NaN,NaN
instant_bookable,t,f,f,t
calculated_host_listings_count,5,1,1,6
calculated_host_listings_count_entire_homes,4,0,0,0
calculated_host_listings_count_private_rooms,0,1,1,1
calculated_host_listings_count_shared_rooms,0,0,0,2
reviews_per_month,0.65,0.14,0.13,0.22

In [39]:
# Check the distinct column values in the bathrooms_text column.
df_listings_clean['bathrooms_text'].value_counts()

1 bath               2887
1 shared bath         861
2 baths               803
1.5 baths             429
1 private bath        415
1.5 shared baths      165
3 baths                99
2.5 baths              78
2 shared baths         47
3.5 baths              21
0 baths                19
2.5 shared baths       15
4 baths                15
Half-bath              12
Shared half-bath       11
0 shared baths          7
5 baths                 6
5.5 baths               4
3 shared baths          3
4.5 baths               2
7 baths                 1
9 shared baths          1
9 baths                 1
6.5 baths               1
8.5 baths               1
6 baths                 1
Private half-bath       1
Name: bathrooms_text, dtype: int64

Therefore, we will first fill the null values as 0 for both newly added columns, then convert this text column into numerical columns by appending two numerical columns `bathroom_num` and `private_bath` where `bathroom_num` gives the number of bathrooms and `private_bath` shows 1 if the bathrooms are private, and 0 if the bathrooms are shared.

In [40]:
# Fill in the missing bathroom_text data
df_listings_clean['bathrooms_text']=df_listings_clean['bathrooms_text'].fillna(value='0 shared baths')

In [41]:
# Add 0.5 in front of Half baths
for i in range(df_listings_clean.shape[0]):
    if 'alf' in df_listings_clean['bathrooms_text'][i]:
        df_listings_clean.loc[i, 'bathrooms_text'] = '0.5 '+ df_listings_clean.loc[i, 'bathrooms_text']

In [42]:
# Extract numbers and if shared information from the bathroom text column
private_bath=[]
for i in range(df_listings_clean.shape[0]):
    if 'hared' in df_listings_clean.loc[i, 'bathrooms_text']:
        private_bath.append(0)
    else:
        private_bath.append(1)
    df_listings_clean.loc[i, 'bathrooms_text'] = float(df_listings_clean.loc[i, 'bathrooms_text'].split()[0])

# Add the binary column to our dataframe
df_listings_clean['private_bath']=private_bath

# Rename bathrooms_text to bathroom_num
df_listings_clean.rename(columns={'bathrooms_text': 'bathroom_num'}, inplace=True)

# Convert the column type to float
df_listings_clean['bathroom_num']=df_listings_clean['bathroom_num'].astype(float)

Now we can add the missing bedroom numbers by checking the name of the property.

In [43]:
# Get the row index for the rows contain missing beds data
index_beds_missing=df_listings_clean[df_listings_clean['beds'].isnull()].index

# Get the corresponding names data
names_beds_missing=df_listings_clean.loc[index_beds_missing, 'name']

# Extract bed counts from the names data
extract_beds=[]
for i in names_beds_missing.index:
    j=names_beds_missing[i].split()
    for k in range(len(j)):
        if 'bedroom' in j[k]:
            extract_beds.append(float(j[k-1]))
        elif 'Studio' in j[k]:
            extract_beds.append(1)
        elif 'Camper' in j[k]:
            extract_beds.append(1)

# Fill missing values of beds using extracted beds number
df_listings_clean.loc[df_listings_clean['beds'].isnull(), 'beds']=extract_beds

Then we can drop the `name` column

In [44]:
# Drop name column 
df_listings_clean.drop('name', axis=1, inplace=True)

### Clean other columns

We can check what are the columns that still contain null values in our current listing dataset.

In [45]:
# Create temporary series object that contains the number of null values for each column in the listing dataframe
temp_null_series=df_listings_clean.isnull().sum()

# Use list comprehension to show the columns that have null values
temp_null_series[[i for i in temp_null_series.index if temp_null_series[i] !=0]]

price               1216
has_availability    1216
license             5247
dtype: int64

By checking the percentage of the null values in the license column, we observe that it contains null values in nearly 90% of the rows. Therefore, we will drop the `license` column.

In [46]:
# Check the proportion of the null values in the license column
print('Percentage of Null Values % in the license column is')
print(round(df_listings_clean['license'].isnull().sum()/len(df_listings_clean)*100, 2)) #coverted into a percent(%) and round to 2 decimal places

Percentage of Null Values % in the license column is
88.78

In [47]:
# Drop the license column
df_listings_clean.drop('license', axis=1, inplace=True)

Next, we will check what values the `price` and `has_availability` columns contain.

In [48]:
# Check the price column
df_listings_clean['price'].value_counts()

$100.00      85
$150.00      76
$120.00      62
$90.00       61
$200.00      60
             ..
$995.00       1
$1,747.00     1
$545.00       1
$524.00       1
$407.00       1
Name: price, Length: 520, dtype: int64

Therefore, we can first convert the values into floats, then try to fill the null values by using other columns in the dataset to predict the price values.

In [49]:
# Convert 'price' column to numbers
price_int=[]
for i in range(len(df_listings_clean['price'])):
    p=df_listings_clean['price'][i]
    if type(p) == str:
        n=p.split('$')[1]
        if ',' in list(n):
            n_no_comma=''.join([x for x in n if x != ','])
            price_int.append(float(n_no_comma))  
        else:
            price_int.append(float(n))
    else:
        price_int.append(np.nan)
df_listings_clean['price']=price_int

# Convert existing column to float for future filtering
df_listings_clean['price']=df_listings_clean['price'].astype(float)

In [50]:
# Check the had_avalibility column
df_listings_clean['has_availability'].value_counts()

t    4684
f      10
Name: has_availability, dtype: int64

We will assume that the listings with this column absent has no availability, thus we will fill the null values using 'f'.

In [51]:
# Fill the null values in has_availability using 'f'
df_listings_clean['has_availability']=df_listings_clean['has_availability'].fillna(value='f')

### Check current null values

In [132]:
# Return pandas series contain percentage of null values
per_null_listing=df_listings_clean.isnull().sum()/df_listings_clean.shape[0]

# Return the non null column name
non_null_col = per_null_listing.loc[per_null_listing!=0].index

# Return the null value percentage
per_null = per_null_listing.loc[per_null_listing!=0].values

print('The column that still contains null values is')
print(list(non_null_col)[0])
print('has percentage of null values %')
print(f'{round(float(per_null)*100, 2)}%')

The column that still contains null values is
price
has percentage of null values %
20.58%

In [58]:
# Check the percentage of the null values in the current review dataset
df_reviews_clean.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

We see that only `price` column has null values, so our next step is to use a simple linear regression to attempt filling these null values.

### Fillin null values in `price` column

#### Import libraries for linear regression

In [90]:
# Import linear regression libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

#### Convert binary columns with 't' and 'f' to 0 and 1

In [103]:
# Select the binary columns then convert the values to 0 and 1 using a map function
for i in df_listings_clean.select_dtypes(include=['object']).columns:
    if set(df_listings_clean[i].unique()) == {'t', 'f'}:
        df_listings_clean[i] = df_listings_clean[i].map({'t': 0, 'f': 1})

#### Extract rows with null price values and select numerical columns

In [121]:
# Select numerical columns
df_listings_num=df_listings_clean.select_dtypes(exclude='object')

# Drop id columns
df_listings_num.drop(['id', 'host_id'], axis=1, inplace=True)

# Split the listing dataset into data with known price and rows with null values for price
df_price=df_listings_num[df_listings_num['price'].isnull()==False]
df_non_price=df_listings_num[df_listings_num['price'].isnull()]

#### Train test split on the labelled dataset

In [122]:
# Define features and target variable
X=df_price.drop('price', axis=1)
y=df_price['price']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Scale the features

In [123]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

#### Train the linear regression model

In [124]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [125]:
X_train

,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,latitude,longitude,accommodates,bathroom_num,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,private_bath
761,90.0,100.0,1,0,0,55.956130,-3.164320,4,1.0,2.0,2,1125,2,2,1125,1125,2.0,1125.0,0,0,0,0,0,220,35,5,4.48,4.66,4.66,4.70,4.68,4.65,4.50,0,1,1,0,0,2.27,1
4921,99.0,94.0,1,0,0,55.955168,-3.155685,5,1.0,3.0,1,365,1,2,731,731,1.4,731.0,0,11,33,57,240,6,5,0,4.67,5.00,5.00,5.00,4.33,4.83,4.50,0,23,23,0,0,0.47,1
3222,0.0,100.0,0,0,0,55.962220,-3.196670,4,1.0,2.0,3,40,2,3,1125,1125,3.0,1125.0,0,6,33,52,98,141,51,2,4.89,4.94,4.89,4.94,4.95,4.86,4.87,0,2,2,0,0,3.57,1
4798,100.0,99.0,0,0,0,55.949093,-3.189248,4,1.0,2.0,2,7,1,2,1125,1125,2.0,1125.0,0,0,0,0,0,61,52,3,4.94,4.97,4.97,4.89,4.97,4.92,4.94,0,2,2,0,0,4.14,1
5287,100.0,100.0,0,0,0,55.949205,-3.213850,4,1.0,2.0,2,45,1,2,1125,1125,2.0,1125.0,0,15,37,61,137,8,8,2,4.88,5.00,5.00,4.88,4.88,4.88,4.88,0,23,23,0,0,1.79,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5605,100.0,100.0,0,0,0,55.966503,-3.165247,4,1.0,2.0,3,730,5,5,1125,1125,5.0,1125.0,0,11,11,11,40,4,4,0,4.75,5.00,5.00,5.00,5.00,4.75,4.75,0,2,1,1,0,0.94,1
559,90.0,100.0,0,0,0,55.946480,-3.191020,4,1.5,2.0,1,6,1,3,1125,1125,1.2,1125.0,0,0,0,0,0,135,53,6,4.91,4.93,4.90,4.94,4.94,4.96,4.82,0,1,1,0,0,1.32,1
3969,100.0,95.0,0,0,0,55.958680,-3.185580,2,1.5,1.0,1,5,1,1,5,5,1.0,5.0,0,22,51,80,161,75,45,3,4.91,4.92,4.85,4.92,4.93,4.91,4.57,1,1,0,1,0,3.69,1
4846,80.0,92.0,0,0,0,55.961240,-3.276270,2,1.0,1.0,1,365,1,1,365,365,1.0,365.0,0,27,57,87,358,31,26,0,4.74,4.77,4.68,4.87,4.77,4.81,4.74,1,3,0,3,0,2.10,0
1081,100.0,100.0,1,0,0,55.947631,-3.195609,4,2.0,3.0,2,20,2,3,1125,1125,2.0,1125.0,0,0,0,0,0,213,28,0,4.84,4.90,4.89,4.93,4.94,4.99,4.81,0,1,1,0,0,3.21,1

In [126]:
r2_score(y_train, model.predict(X_train_scaled))

0.08533278875095573

In [127]:
y_pred = model.predict(X_test_scaled)
r2 = r2_score(y_test, y_pred)
print("R-squared Score:", r2)

R-squared Score: 0.04237663559883098

In [128]:
model.predict(df_non_price)

array([ 2.65489180e+02,  3.40526552e+01,  4.32282688e+02,  1.02870375e+02,
        7.93719392e+01,  2.12249875e+02,  3.90893815e+02,  1.31579847e+02,
        3.05775174e+02,  7.24919995e+02,  1.87978398e+02,  1.25506038e+02,
        1.93770805e+02,  2.91668632e+02,  6.89311400e+01, -1.17511644e+02,
        1.06998719e+02,  5.84854432e+01,  5.07486624e+02,  3.27995633e+02,
        2.12920563e+02,  6.14054035e+01,  1.43360986e+02,  2.79303599e+02,
        3.09799244e+02,  2.00696092e+02,  1.50749598e+02,  2.22339434e+02,
        1.43253653e+02,  2.48055503e+02,  1.92512758e+02,  1.61304978e+02,
        1.74142306e+02,  4.22590199e+02,  1.21263205e+02,  2.14882034e+02,
        3.38091587e+01,  5.32305099e+02,  2.81839698e+02,  2.53137277e+02,
        4.49202107e+02,  2.05430180e+02,  1.67031335e+02,  2.70871665e+02,
        4.33975221e+02,  2.32088353e+02,  7.21811725e+01,  1.49539181e+02,
        8.31142893e+01,  1.37658309e+02,  6.02314746e+01,  1.02375746e+02,
        1.62341369e+02,  2.70906409e+02,  3.54992737e+02,  1.20465482e+02,
        1.14039076e+02,  4.09095470e+01,  4.58811533e+02,  1.67522299e+02,
        5.42998511e+01,  1.90877670e+02,  3.67152518e+02,  1.01182177e+02,
        2.16916172e+02,  6.78506369e+01,  3.03612011e+02,  1.81612504e+02,
        2.20573982e+02,  2.35443756e+02,  1.82668298e+02,  1.12114348e+02,
        1.47553513e+02, -1.56100992e+02,  2.82123480e+02,  5.03334709e+01,
        3.64497197e+02,  9.43795519e+01,  3.39064057e+02,  1.98012753e+02,
        4.54252711e+01,  1.81879071e+02,  2.54977406e+02,  6.50991019e+01,
        2.76292757e+02,  3.57297156e+02,  1.50842048e+02,  2.81449027e+02,
        3.31100962e+02,  1.68094327e+02,  7.01321310e+01,  1.50512938e+02,
        9.66097306e+01,  1.07743521e+02, -2.28836138e+01,  2.69754024e+02,
        9.98627084e+01,  1.39439154e+02,  3.57762643e+02,  9.52563547e+01,
        4.54580292e+02,  1.19378453e+02,  7.89549029e+02,  2.98424614e+02,
        3.84211844e+02,  2.06062696e+02,  2.98912626e+02,  1.94823994e+02,
        2.85765861e+02, -2.15751944e+01,  2.70349766e+02,  1.85157840e+02,
        1.68337770e+02,  1.77911998e+02,  1.74713011e+02,  6.31020778e+01,
        3.88286834e+01,  3.79386261e+02,  1.23186647e+02,  7.77856150e+01,
        1.88152125e+02,  1.10922627e+02,  4.90210397e+01,  7.92296995e+01,
        3.83118822e+02,  9.56786191e+01,  5.00881712e+02,  3.47230320e+02,
        2.34798042e+02,  3.63080438e+02,  1.76837282e+02,  4.41752364e+02,
        4.32905888e+01,  2.38996631e+02,  4.10169237e+02,  4.83888612e+01,
        6.37926197e+01,  1.38810756e+02,  2.70904817e+02,  4.35700936e+02,
        1.76317618e+02,  3.59143568e+02,  1.84400340e+02,  1.90080621e+02,
        1.46896798e+02,  1.86465955e+02,  6.40850563e+00,  1.99268677e+02,
        1.26713730e+02,  2.36833194e+02,  1.23786140e+02,  1.55700845e+02,
       -8.70192996e+01,  2.35051368e+02,  1.19937786e+02,  2.26403598e+02,
        2.67078518e+02,  2.54918380e+02,  1.43226770e+02,  4.44897846e+01,
        3.01959560e+02,  1.57200081e+02,  3.84628768e+02,  2.15459906e+02,
        6.37584344e+01,  2.08748672e+02,  2.46355290e+02,  2.29626421e+02,
        3.28984287e+02,  2.40832766e+02,  3.12242982e+02,  6.58165494e+01,
        9.00441625e+01,  5.68628360e+01,  2.15830961e+02, -5.58289353e+00,
        2.15515853e+02,  1.64758326e+02,  1.05812791e+02,  1.15102217e+02,
        1.06813409e+01,  2.96362628e+02,  1.17768341e+02,  2.19746306e+02,
        1.73071172e+02,  4.30771775e+01,  1.88220608e+02,  8.33029227e+01,
        3.26241481e+01,  1.10570415e+02,  4.05445536e+02,  2.85674295e+02,
        3.19226295e+02,  2.11845942e+02,  5.98247164e+01,  4.68493958e+00,
        2.42487471e+02, -7.27920324e+00,  2.23462685e+02, -3.31472021e+01,
        7.00585238e+01,  3.49543418e+02,  2.19637334e+02,  2.29880000e+02,
        1.01048555e+02,  2.51259635e+02,  2.43771820e+02,  1.53353623e+01,
        7.46409256e+01,  4.90386263e+01,  1.76178280e+02,  6.78534698e+01,
        2.00339731e+02,  1.62935076e+02,  7.26238874e+01,  2.28672065e+02,
        1.35427218e+02,  1.61842105e+02,  1.64593723e+02,  1.89648494e+02,
        2.76129531e+02,  1.32678676e+02,  1.87745739e+02,  2.02646830e+02,
        1.20603130e+02,  2.11743954e+02,  1.55752044e+02,  1.76499003e+02,
        1.25747129e+02,  2.70749385e+02,  7.66675041e+01,  8.46476405e+01,
        5.51076329e+02,  8.95040830e+01,  1.65589062e+02,  2.25388511e+02,
        2.98170310e+02,  1.31930646e+02,  3.65011719e+02,  1.46014120e+02,
        3.09146143e+02, -8.63815052e+01,  1.91992688e+02,  3.73559499e+02,
        6.63302508e+01,  1.74900337e+02,  2.29474711e+02,  1.67645484e+02,
        2.38472788e+02,  5.93384355e+00,  4.51036152e+01,  1.71599293e+02,
       -3.85004270e-01,  1.02021177e+02,  1.27703598e+02,  2.47125037e+02,
        2.29695395e+02,  1.15498450e+02, -2.62711394e+01,  2.93669178e+02,
        1.75684905e+02,  3.22866862e+02,  1.34035243e+02,  1.09402099e+02,
        2.15017572e+02, -1.04844853e+01,  5.49824941e+01,  1.26504178e+02,
        2.37409237e+02,  8.04115756e+01,  1.50584555e+02,  1.71987982e+02,
        3.34369418e+02,  3.44115319e+02,  3.77922725e+02,  2.35751527e+02,
        6.17547347e+01,  1.41801846e+02,  7.65020951e+01,  1.77770210e+02,
        4.09432724e+02,  2.59010337e+02,  2.77025394e+02,  1.34993116e+02,
        1.73603110e+02,  1.96621343e+02,  3.03329490e+02,  1.65527066e+02,
        1.23594266e+02,  1.37328187e+02,  1.89698535e+02,  1.58076392e+02,
       -9.73541981e+01,  6.95518435e+01,  1.83450561e+02,  2.47365411e+02,
        2.58968777e+02,  1.06094631e+02,  2.77971686e+02,  1.70676410e+02,
        2.90093700e+02,  1.78037203e+02,  8.44817200e+00,  1.17134660e+02,
        6.99753370e+01,  4.93909240e+02,  2.13990045e+02,  1.27738000e+02,
        7.72952691e+00,  6.36682286e+02,  3.32363670e+02,  1.34801064e+02,
        1.38724423e+02,  9.12560604e+01,  2.96669813e+02,  5.83185429e+01,
        1.41260524e+02,  8.41647074e+00, -2.05369532e+01,  7.81202189e+01,
        1.24709652e+02,  1.20626654e+01,  1.96328866e+02,  1.01417462e+02,
        4.86370185e+02,  3.13407902e+02,  1.03953582e+02,  4.34634310e+01,
        1.13424680e+02,  2.46529277e+02,  2.76423710e+02,  1.91924207e+02,
        1.09576319e+02,  2.92555575e+01,  4.87715515e+01,  1.01428073e+02,
        4.82147438e+02, -1.84464207e+01, -2.76595149e+01,  3.33842610e+02,
        2.60035522e+02,  3.66691026e+02, -1.67593975e+01,  4.22236235e+01,
        1.83928585e+02,  8.15465378e+01,  3.17970892e+01,  1.37317837e+02,
        1.14892910e+02,  1.23282750e+02,  2.88725948e+02,  4.21375845e+01,
        3.77764622e+02,  2.26035473e+02,  2.80553654e+02,  2.96134536e+02,
        5.69178202e+01, -5.99398614e+01,  2.57885704e+02,  1.55223200e+02,
        1.92819805e+02,  2.65377184e+02,  2.10083018e+02,  4.10807169e+01,
        9.55639462e+01,  2.60177150e+02,  1.23908725e+02,  4.94400551e+02,
        7.48077439e+01,  1.23679938e+02,  2.70216541e+02,  6.77841942e+01,
        2.11447667e+02,  1.08641203e+02,  3.44851012e+01,  1.69004401e+02,
        6.20544815e+01,  2.24260449e+02,  2.89849476e+02,  2.30871026e+02,
        3.06521224e+02,  2.59422475e+02,  1.26879745e+02, -8.19853009e+01,
        1.85112295e+02,  2.44241398e+02,  1.25558466e+02,  2.84264247e+02,
        2.42735992e+02,  3.10830892e+02,  4.71566295e+01,  5.37916997e+02,
       -4.47885607e+01,  1.59425203e+02,  1.07931706e+03,  1.17160823e+02,
        2.06761186e+02,  1.81406733e+02,  1.17334386e+02,  5.38064130e+02,
        4.78937313e+01,  1.93232118e+02,  9.06443217e+01,  3.77723957e+02,
        2.78068027e+02,  2.27129372e+02,  1.30434197e+02,  1.11675906e+02,
        3.48015820e+02,  2.57004768e+02,  2.41531481e+02,  5.57279582e+02,
        2.17035395e+02,  1.75324926e+02,  3.36068575e+02,  2.20931866e+01,
        1.41951192e+02,  1.08889352e+02, -7.56922370e+00,  2.02698277e+02,
       -1.58601475e+01,  1.68818865e+02,  2.22009137e+02,  2.21731378e+02,
        1.85975288e+02,  5.32915849e+02,  1.22868941e+02,  3.30157183e+02,
        3.72639261e+02,  2.19003022e+02,  3.69591528e+02,  1.52316799e+01,
        2.42221266e+02,  1.23093750e+02,  1.44348806e+02,  3.22456403e+02,
        1.76506756e+02,  7.46531884e+01,  2.33960096e+02,  1.64338617e+02,
        1.64781127e+02,  1.17070033e+02,  4.42584705e+02,  2.79288936e+02,
        2.79390743e+02,  2.59023311e+02,  1.92377465e+02,  2.54075316e+02,
        4.07917076e+02,  3.21113673e+02,  2.78891405e+02,  2.01432670e+00,
        6.01459603e+02,  1.63773574e+02,  1.27150560e+02,  4.10497274e+02,
        2.45536761e+02, -1.13775115e+01,  1.16056641e+02,  1.69956789e+02,
       -4.11061018e+01,  2.08020036e+02,  2.87498767e+02,  4.76707896e+01,
        1.55274619e+02,  3.10569064e+00,  1.82250329e+02,  2.87989161e+02,
        3.30934129e+02,  3.00406745e+02,  6.86898899e+01,  1.64242033e+02,
        1.41764957e+02,  2.61839076e+02,  1.03787531e+02,  1.27077666e+02,
        3.67993338e+02,  2.43449014e+02,  2.14462279e+02,  2.81132462e+02,
        2.91176047e+02,  7.77673164e+01,  1.36448528e+02,  6.69016010e+02,
        1.16381924e+01,  7.95859556e+01,  1.27879476e+02,  2.61111263e+02,
        1.62693735e+02,  3.40263555e+02,  2.34825103e+02,  1.96477080e+02,
        2.06129017e+02,  2.57265708e+02,  1.99098578e+02,  3.62736496e+02,
        1.16947295e+02,  2.09269788e+02,  2.44422418e+02,  5.80689672e+02,
        3.01851955e+02,  1.40508300e+02,  2.33427799e+02,  2.47679972e+02,
        3.37201989e+02,  9.90643023e+01,  2.57073908e+02,  7.45736357e+01,
        7.38530868e+01,  1.26537169e+02,  2.10635341e+02,  1.00724404e+02,
        2.35430689e+02,  2.17072416e+02,  9.78283159e+01,  4.80916736e+02,
        5.34900465e+02,  4.21554547e+02,  2.92700674e+02,  1.78522661e+02,
        2.52593494e+02,  3.54555113e+02,  3.11712762e+02,  1.32705279e+02,
        1.50707601e+02,  1.07382317e+02,  1.50473717e+02,  2.42807938e+02,
        2.45929822e+02,  2.06600796e+02,  7.28675415e+01,  1.88796497e+02,
        1.40909567e+02,  5.57778402e+02,  1.24823878e+02,  2.38174717e+02,
        2.72412841e+02,  3.28565526e+02,  2.08129106e+02,  6.36641759e+02,
        1.46088721e+02,  1.85197294e+02,  1.78176872e+02,  1.30773615e+02,
        2.14177951e+02,  2.23704982e+02,  6.05736858e+00,  2.91215579e+02,
        3.37176730e+02,  2.27005640e+02,  4.35160949e+02,  2.19471509e+02,
        4.36258545e+02,  1.89227841e+02,  1.10384740e+02,  2.40935981e+02,
        3.07332546e+02,  2.15133468e+02,  1.28804009e+02,  1.02593791e+02,
        1.96407479e+02,  1.08751197e+02,  2.82278999e+02,  2.86512182e+01,
        3.96959390e+02,  1.74756173e+02,  2.29835847e+02,  7.66029233e+01,
        1.25757821e+02, -1.50251211e+01,  1.69137648e+02,  2.73742466e+02,
        1.63703176e+02,  2.51941875e+02,  2.28347969e+02,  2.86997707e+02,
        1.97591132e+02,  7.33421094e+01,  2.78489767e+02,  5.28562273e+01,
        8.09945189e+01,  2.74338828e+02,  8.44306205e+01,  1.88646175e+02,
        3.01981213e+02,  5.22273644e+01,  1.17331429e+02,  3.67814479e+02,
        2.80510261e+02,  3.43576354e+02,  2.81424345e+01,  2.23828935e+02,
        4.98743590e+01,  3.41103352e+02,  1.73246692e+02,  1.09768162e+02,
        2.30879900e+02,  4.86326772e+01,  4.77007737e+01,  2.01142873e+02,
        1.24874549e+02,  2.25038779e+02, -7.72043933e+01,  1.79126132e+02,
        7.83713000e+01,  4.95810332e+02,  2.30536992e+02,  7.09792278e+01,
        1.44385449e+02,  1.01325698e+02, -8.72132877e+00,  1.56447811e+02,
        4.14033897e+01,  9.81128188e+01,  8.00249322e+01, -1.03592943e+02,
        1.02262411e+02,  1.21805048e+02,  1.56436922e+02,  2.63991335e+02,
        3.84896016e+02,  5.85550626e+02,  1.42945596e+01,  2.55036011e+02,
        1.61707588e+02,  1.63395001e+01,  9.97980666e+01,  1.88079219e+02,
        2.35326745e+02,  1.30387627e+02,  2.05106621e+02, -2.48850739e+01,
        1.00048053e+01,  1.07284868e+02,  3.87191638e+01,  1.93921838e+02,
        2.25875547e+02,  1.63151210e+01,  1.95014164e+02,  1.83005122e+02,
        3.91028387e+02,  8.67246386e+01,  2.06208626e+02,  4.19880176e+02,
        1.26873179e+02,  1.18881607e+02,  4.32655086e+01,  2.30233175e+01,
        3.49960057e+02,  2.74337202e+02,  6.19320359e+02,  1.79248259e+02,
        1.17002934e+02,  1.58521308e+02,  1.41607666e+02,  2.63678298e+02,
        2.45273505e+02, -9.90549672e+01,  2.07471746e+02,  3.37689454e+02,
        1.80897549e+02,  1.80473543e+02,  1.80380311e+02,  8.14536407e+01,
        2.29343166e+02,  1.83315127e+02,  1.90637892e+02,  5.25236477e+01,
        9.35890173e+01,  3.70324591e+02,  3.16764046e+02,  1.18584415e+02,
        2.11835924e+02,  2.01266542e+02,  4.42412187e+02,  3.86188508e+02,
        1.03249369e+02, -7.50956802e+01,  2.08988791e+02,  2.69860505e+02,
        2.12667190e+02,  8.10393597e+01,  1.47202755e+02,  2.48854919e+02,
        1.92527458e+00,  1.17799392e+02,  1.85835848e+02,  7.12099174e+01,
       -2.41454095e+00,  1.54757216e+02,  2.33361543e+02,  1.36884301e+02,
        2.71114083e+02,  4.34332392e+01,  3.98612189e+01,  1.80918637e+02,
        3.27177789e+02,  3.76066949e+02,  1.11080536e+02, -3.65568529e+00,
        2.98511352e+02, -4.46472334e+01,  1.70200131e+02,  2.47327950e+02,
        3.19433635e+02,  1.64600324e+02,  1.27688461e+02,  1.72159440e+02,
        3.50854149e+02,  2.24619780e+02,  3.73304989e+02,  4.33721641e+02,
        3.56322445e+02,  3.91961052e+02,  3.37076310e+02,  6.53543359e+01,
        1.16222933e+02, -7.91999029e+00,  1.48259532e+02,  5.55309599e+01,
        9.33832999e+01,  1.00012827e+02,  2.09175641e+02,  2.64010002e+02,
        1.37270931e+02,  2.03936629e+02, -3.48773306e-01,  1.65386915e+02,
        1.98491889e+02, -3.90693633e+01,  4.72815253e+01,  1.71213667e+02,
        2.26699948e+02,  3.05604569e+02,  2.11131289e+02,  1.14465372e+02,
        3.23051815e+02,  7.95101719e+01,  3.33162573e+02,  1.96478643e+02,
        2.82339160e+02, -1.28823452e+02,  8.80485964e+01,  3.11001071e+02,
        1.08017365e+02,  2.83007227e+02,  1.55473919e+02,  4.30955978e+02,
        2.06539156e+02,  7.93143520e+01,  1.14720101e+02,  1.70865624e+02,
        2.46439737e+02,  3.38229888e+02,  2.04372644e+01,  2.17957993e+01,
        4.57626755e+02,  6.20274412e+01,  2.89063995e+02,  4.36697899e+02,
        1.23025602e+02,  1.44149983e+02,  2.41918471e+02,  1.66396821e+02,
        3.01871628e+01,  3.60759804e+02,  1.98307710e+02,  3.31819497e+02,
        2.90331374e+02,  1.27854900e+02,  1.17239751e+02,  3.13493570e+02,
        1.21022971e+02,  2.45644817e+02, -2.14208038e+02,  2.52420510e+02,
        4.94453218e+01,  7.11596085e+01, -6.14863104e+01,  1.67072063e+02,
        9.16318570e+01,  3.49854109e+02,  4.29771393e+02,  4.64509338e+01,
        1.11803369e+02,  1.38008640e+02,  2.08445856e+02,  1.78269423e+02,
        2.02491250e+02,  8.62002831e+01,  4.24269567e+02,  5.58906266e+01,
        2.07901452e+02,  2.25803069e+02,  2.19723123e+02,  7.00303667e+02,
        1.84229623e+01,  1.07223157e+02,  1.47048260e+02,  3.69182893e+02,
        2.40111356e+02,  1.99992004e+02,  6.59638565e+02,  1.26859206e+01,
        1.15974681e+02,  1.65963826e+02, -8.74713519e+00,  1.64107347e+02,
        3.94714120e+02,  2.77756796e+02,  2.80209307e+02,  2.35479591e+02,
        2.82759097e+02,  1.18492118e+02,  1.48660121e+02, -7.68646839e+01,
        1.73444760e+02,  4.60241543e+01,  3.27567551e+02,  2.78594160e+02,
        3.21678453e+02, -2.41283813e+01,  5.11292709e+01,  1.89892396e+02,
        1.36287065e+02,  2.29514218e+02,  1.17813375e+02, -5.39321076e+01,
        9.87897602e+01,  1.18307942e+02,  2.36440385e+02,  2.41759125e+02,
        8.37576427e+01,  6.73627983e+02,  2.19426717e+02,  1.93052577e+02,
        1.08639280e+02,  2.50282302e+02,  8.05938963e+01,  2.64564067e+02,
        1.65916462e+02, -2.59383463e+01,  9.00502483e+01,  1.07783517e+02,
        1.74760221e+02,  4.70532319e+01,  3.16449238e+02,  2.55152581e+02,
        2.48383563e+02,  1.31088753e+02,  1.86272701e+02,  9.89659631e+01,
        1.20905108e+02,  2.35053220e+02,  1.18045426e+02,  4.40173494e+02,
        8.49388593e+01,  2.27221905e+02,  1.92737227e+01,  1.47652627e+02,
        1.68265198e+02,  1.78495322e+02,  4.91124507e+02,  2.81217481e+01,
        1.97612001e+02,  3.21305976e+02,  2.53090628e+02,  1.03537424e+02,
        7.99944629e+01,  1.32140493e+02,  1.98014346e+02,  1.32790763e+02,
        1.38675430e+02,  5.41576633e+02,  9.79702135e+01,  1.21045283e+02,
        1.82896213e+02,  2.43770329e+02,  1.62471217e+02,  3.79780105e+02,
        2.05611938e+02,  8.18769006e+01,  1.67391964e+02,  1.83690175e+02,
        2.12050826e+02,  7.35222047e+01,  4.92753405e+02,  3.26361604e+02,
        3.94648465e+00,  2.06863984e+02,  5.03622070e+01,  4.46677345e+01,
        1.53576534e+02,  1.65797689e+02,  1.18111344e+02,  2.68766216e+02,
        6.80128937e+01,  1.72149049e+02,  2.64307807e+02,  7.86599649e+01,
        2.35045208e+02,  7.40934361e+01, -5.75369062e+01,  4.03548118e+01,
        3.97912499e+02,  9.77922930e+01,  1.53935306e+02,  8.42445467e+01,
        2.18260208e+02,  1.63428241e+02,  1.10183215e+02,  3.27102474e+02,
        1.24541996e+02,  8.21216893e+00,  1.27479094e+02,  7.59957088e+02,
        2.87735040e+02,  1.66848058e+02,  1.34973855e+02,  3.12549775e+02,
        2.48890615e+02,  2.49271483e+02,  2.52783263e+02,  2.62900832e+02,
        3.76690009e+02,  1.14956435e+02,  2.94628095e+02,  2.33776730e+02,
        6.09343186e+02,  3.47086234e+02,  8.45947843e+01,  1.28765903e+02,
        2.52583264e+02,  4.03910196e+02,  2.44564604e+02,  1.80716868e+02,
        4.28900868e+02,  1.55547381e+02,  6.76705733e+01])