# Edinburgh Airbnb Star Rating Outcomes Prediction through Review Texts Analysis

# Notebook 1: Data Cleaning

In this notebook, we will first outline the objectives of the project. Then, we will begin the foundational steps, including loading the datasets, analyzing the contents of our data, and performing the first stage of the data cleaning process.

***

# Table of Contents

1. [**Introduction**](#a1) <br>

2. [**Data Descriptions**](#a2) <br>
    2.1 [**Import Libraries**](#a2.1) <br>
    2.2 [**Dataset Descriptions**](#a2.2) <br>
    2.3 [**Data Dictionary of Airbnb listing dataset**](#a2.3) <br>
    2.4 [**Rating Types Overview**](#a2.4) <br>
    2.5 [**Dataset summary overview**](#a2.5) <br> 

3. [**Review Dataset Cleaning**](#a3) <br>

4. [**Listing Dataset Cleaning**](#a4) <br>
    4.1 [**First Stage Cleaning**](#a4.1) <br>
    4.2 [**Host Related Columns Cleaning**](#a4.2) <br>
    4.3 [**Location Related Columns Cleaning**](#a4.3) <br>
    4.4 [**Property Related Columns Cleaning**](#a4.4) <br>
    4.5 [**Other Columns Cleaning**](#a4.5) <br>
    
5. [**Price Column Null Values Cleaning**](#a5) <br>

6. [**Extract Datasets**](#a6) <br>

7. [**Summary**](#a7) <br>

# Introduction <a id="a1"></a>

#### Problem Statement

For this analysis, the focus lies in the quest to improve the hosting experience on Airbnb, particularly in the city of Edinburgh. One challenge Airbnb hosts face is understanding what factors contribute to 
their Airbnb listing's star ratings, which significantly impact their bookings and revenue.

We aim to uncover valuable insights by analyzing review texts. Our primary goal is to predict average star ratings based on these reviews, providing hosts with actionable feedback on areas of improvement. By extracting key features from reviews, such as cleanliness, communication, and amenities, we can offer guidance to both new hosts seeking to establish themselves and experienced hosts looking to enhance their offerings. 

Ultimately, this analysis aims to empower hosts by providing useful insights and actionable recommendations to enhance their performance and maximize their ratings. Furthermore, we aim for these insights to not only benefit hosts in Edinburgh but also serve as valuable guidance for hosts in other cities facing similar challenges in the competitive Airbnb landscape.

#### Data Collection

The data used in this project consists of two datasets downloaded from [Inside Airbnb](http://insideairbnb.com/get-the-data). The first dataset contains information about Edinburgh Airbnb Listings, and the second dataset contains the reviews of these listings.

The data dictionary can be downloaded [here](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596).

***

# Data descriptions <a id="a2"></a>

## Import libraries <a id="a2.1"></a>

In [1]:
# Main libraries
import pandas as pd
import numpy as np

# Library for extracting data
import joblib

***

## Dataset descriptions <a id="a2.2"></a>

In [2]:
# Import datasets
df_listings= pd.read_csv('data/listings.csv')
df_reviews=pd.read_csv('data/reviews.csv')

In [3]:
# Show the first row of the listing dataframe
# As we have too many columns, we will make a matrix transpose to show all information
df_listings.head(1).T

                                                                               0
id                                                                         15420
listing_url                                   https://www.airbnb.com/rooms/15420
scrape_id                                                         20231217045056
last_scraped                                                          2023-12-17
source                                                               city scrape
...                                                                          ...
calculated_host_listings_count                                                 1
calculated_host_listings_count_entire_homes                                    1
calculated_host_listings_count_private_rooms                                   0
calculated_host_listings_count_shared_rooms                                    0
reviews_per_month                                                           3.38

[75 rows x 1 columns]

In [4]:
# Show the first row of the reviews dataframe
df_reviews.head(1)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,15420,171793,2011-01-18,186358,Nels,My wife and I stayed at this beautiful apartme...

In [5]:
# Show the dimensions of the datasets.
print(f'The shape of the listing dataset is {df_listings.shape}')
print(f'The shape of the review dataset is {df_reviews.shape}')

The shape of the listing dataset is (7049, 75)
The shape of the review dataset is (535577, 6)

We have two datasets that need to perform data cleaning at this stage. The Airbnb listing dataset contains **7049** rows and **75** columns. The reviews dataset contains **535577** rows and **6** columns. We will analyse the columns for these two datasets in more detail later, and eventually we will merge the information into one dataframe.

In [6]:
# Show the list that contains listings dataframe's columns
print(f'The initial columns in the listing dataset are')
list(df_listings.columns)

The initial columns in the listing dataset are

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'source',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [7]:
# Show the list that contains review dataframe's columns
print(f'The initial columns in the review dataset are')
list(df_reviews.columns)

The initial columns in the review dataset are

['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

## Data Dictionaries of Airbnb listing dataset <a id="a2.3"></a>

In [8]:
# Import raw data dictionary csv
df_dictionary = pd.read_csv('data/Data Dictionary.csv')

# Drop the first 6 unnecessary rows
df_dictionary_clean=df_dictionary.drop(range(6), axis=0)

# Reset index
df_dictionary_clean.reset_index(drop=True, inplace=True)

# Use the first row as column rows
df_dictionary_clean.columns=list(df_dictionary_clean.loc[0])

# Remove the first row
df_dictionary_clean.drop(0, inplace=True, axis=0)

# Reset index
df_dictionary_clean.reset_index(inplace=True, drop = True)

# Drop the 'Calculated' and 'Reference' column
df_dictionary_clean.drop(['Calculated', 'Reference'], axis=1, inplace=True)

In [9]:
# Show the data dictionary dataframe
pd.set_option('display.max_row', 100)
pd.set_option('display.max_colwidth', 100000)
df_dictionary_clean

,Field,Type,Description
0,id,integer,Airbnb's unique identifier for the listing
1,listing_url,text,NaN
2,scrape_id,bigint,"Inside Airbnb ""Scrape"" this was part of"
3,last_scraped,datetime,"UTC. The date and time this listing was ""scraped""."
4,source,text,"One of ""neighbourhood search"" or ""previous scrape"". ""neighbourhood search"" means that the listing was found by searching the city, while ""previous scrape"" means that the listing was seen in another scrape performed in the last 65 days, and the listing was confirmed to be still available on the Airbnb site."
5,name,text,Name of the listing
6,description,text,Detailed description of the listing
7,neighborhood_overview,text,Host's description of the neighbourhood
8,picture_url,text,URL to the Airbnb hosted regular sized image for the listing
9,host_id,integer,Airbnb's unique identifier for the host/user
10,host_url,text,The Airbnb page for the host
11,host_name,text,Name of the host. Usually just the first name(s).
12,host_since,date,The date the host/user was created. For hosts that are Airbnb guests this could be the date they registered as a guest.
13,host_location,text,The host's self reported location
14,host_about,text,Description about the host
15,host_response_time,NaN,NaN
16,host_response_rate,NaN,NaN
17,host_acceptance_rate,NaN,That rate at which a host accepts booking requests.
18,host_is_superhost,boolean [t=true; f=false],NaN
19,host_thumbnail_url,text,NaN
20,host_picture_url,text,NaN
21,host_neighbourhood,text,NaN
22,host_listings_count,text,The number of listings the host has (per Airbnb calculations)
23,host_total_listings_count,text,The number of listings the host has (per Airbnb calculations)
24,host_verifications,NaN,NaN
25,host_has_profile_pic,boolean [t=true; f=false],NaN
26,host_identity_verified,boolean [t=true; f=false],NaN
27,neighbourhood,text,NaN
28,neighbourhood_cleansed,text,The neighbourhood as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.
29,neighbourhood_group_cleansed,text,The neighbourhood group as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles.
30,latitude,numeric,Uses the World Geodetic System (WGS84) projection for latitude and longitude.
31,longitude,numeric,Uses the World Geodetic System (WGS84) projection for latitude and longitude.
32,property_type,text,Self selected property type. Hotels and Bed and Breakfasts are described as such by their hosts in this field
33,room_type,text,"[Entire home/apt|Private room|Shared room|Hotel]\n\nAll homes are grouped into the following three room types:\n\nEntire place\nPrivate room\nShared room\nEntire place\nEntire places are best if you're seeking a home away from home. With an entire place, you'll have the whole space to yourself. This usually includes a bedroom, a bathroom, a kitchen, and a separate, dedicated entrance. Hosts should note in the description if they'll be on the property or not (ex: ""Host occupies first floor of the home""), and provide further details on the listing.\n\nPrivate rooms\nPrivate rooms are great for when you prefer a little privacy, and still value a local connection. When you book a private room, you'll have your own private room for sleeping and may share some spaces with others. You might need to walk through indoor spaces that another host or guest may occupy to get to your room.\n\nShared rooms\nShared rooms are for when you don't mind sharing a space with others. When you book a shared room, you'll be sleeping in a space that is shared with others and share the entire space with other people. Shared rooms are popular among flexible travelers looking for new friends and budget-friendly stays."
34,accommodates,integer,The maximum capacity of the listing
35,bathrooms,numeric,The number of bathrooms in the listing
36,bathrooms_text,string,"The number of bathrooms in the listing. \nOn the Airbnb web-site, the bathrooms field has evolved from a number to a textual description. For older scrapes, bathrooms is used."
37,bedrooms,integer,The number of bedrooms
38,beds,integer,The number of bed(s)
39,amenities,json,NaN
40,price,currency,daily price in local currency
41,minimum_nights,integer,minimum number of night stay for the listing (calendar rules may be different)
42,maximum_nights,integer,maximum number of night stay for the listing (calendar rules may be different)
43,minimum_minimum_nights,integer,the smallest minimum_night value from the calender (looking 365 nights in the future)
44,maximum_minimum_nights,integer,the largest minimum_night value from the calender (looking 365 nights in the future)
45,minimum_maximum_nights,integer,the smallest maximum_night value from the calender (looking 365 nights in the future)
46,maximum_maximum_nights,integer,the largest maximum_night value from the calender (looking 365 nights in the future)
47,minimum_nights_avg_ntm,numeric,the average minimum_night value from the calender (looking 365 nights in the future)
48,maximum_nights_avg_ntm,numeric,the average maximum_night value from the calender (looking 365 nights in the future)
49,calendar_updated,date,NaN
50,has_availability,boolean,[t=true; f=false]
51,availability_30,integer,avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.
52,availability_60,integer,avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.
53,availability_90,integer,avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.
54,availability_365,integer,avaliability_x. The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.
55,calendar_last_scraped,date,NaN
56,number_of_reviews,integer,The number of reviews the listing has
57,number_of_reviews_ltm,integer,The number of reviews the listing has (in the last 12 months)
58,number_of_reviews_l30d,integer,The number of reviews the listing has (in the last 30 days)
59,first_review,date,The date of the first/oldest review
60,last_review,date,The date of the last/newest review
61,review_scores_rating,NaN,NaN
62,review_scores_accuracy,NaN,NaN
63,review_scores_cleanliness,NaN,NaN
64,review_scores_checkin,NaN,NaN
65,review_scores_communication,NaN,NaN
66,review_scores_location,NaN,NaN
67,review_scores_value,NaN,NaN
68,license,text,The licence/permit/registration number
69,instant_bookable,boolean,[t=true; f=false]. Whether the guest can automatically book the listing without the host requiring to accept their booking request. An indicator of a commercial listing.
70,calculated_host_listings_count,integer,"The number of listings the host has in the current scrape, in the city/region geography."
71,calculated_host_listings_count_entire_homes,integer,"The number of Entire home/apt listings the host has in the current scrape, in the city/region geography"
72,calculated_host_listings_count_private_rooms,integer,"The number of Private room listings the host has in the current scrape, in the city/region geography"
73,calculated_host_listings_count_shared_rooms,integer,"The number of Shared room listings the host has in the current scrape, in the city/region geography"
74,reviews_per_month,numeric,The number of reviews the listing has over the lifetime of the listing
75,NaN,NaN,NaN
76,Change control,NaN,NaN
77,Field,Change,NaN
78,source,Added,NaN

## Rating types overview <a id="a2.4"></a>

**review_scores_rating**	
- Overall experience. Overall, how was the stay?

**review_scores_cleanliness**
- Cleanliness. Did guests feel that the space was clean and tidy?

**review_scores_accuracy**
- Accuracy. How accurately did the listing page represent the space? For example, guests should be able to find up-to-date info and photos in the listing description.

**review_scores_value**
- Value. Did the guest feel that the listing provided good value for the price?

**review_scores_communication**
- Communication. How well did you communicate before and during the stay? Guests often care that their host responds quickly, reliably, and frequently to their messages and questions.

**review_score_checkin**
- Check-in. How smoothly did check-in go?

**review_score_location**
- Location. How did guests feel about the neighbourhood? This may mean that thereâ€™s an accurate description for proximity and access to transportation, shopping centres, city centre, etc., and a description that includes special considerations, like noise, and family safety.

***

## Dataset summary overview <a id="a2.5"></a>

In [10]:
# Check the listing dataframe data types
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7049 non-null   int64
 1   listing_url                                   7049 non-null   object
 2   scrape_id                                     7049 non-null   int64
 3   last_scraped                                  7049 non-null   object
 4   source                                        7049 non-null   object
 5   name                                          7049 non-null   object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         4813 non-null   object
 8   picture_url                                   7049 non-null   object
 9   host_id                                       7049 non-null   int64
 10  host_url                                      7049 non-null   object
 11  host_name                                     7049 non-null   object
 12  host_since                                    7049 non-null   object
 13  host_location                                 5816 non-null   object
 14  host_about                                    3976 non-null   object
 15  host_response_time                            5178 non-null   object
 16  host_response_rate                            5178 non-null   object
 17  host_acceptance_rate                          6171 non-null   object
 18  host_is_superhost                             7017 non-null   object
 19  host_thumbnail_url                            7049 non-null   object
 20  host_picture_url                              7049 non-null   object
 21  host_neighbourhood                            2548 non-null   object
 22  host_listings_count                           7049 non-null   int64
 23  host_total_listings_count                     7049 non-null   int64
 24  host_verifications                            7049 non-null   object
 25  host_has_profile_pic                          7049 non-null   object
 26  host_identity_verified                        7049 non-null   object
 27  neighbourhood                                 4813 non-null   object
 28  neighbourhood_cleansed                        7049 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7049 non-null   float64
 31  longitude                                     7049 non-null   float64
 32  property_type                                 7049 non-null   object
 33  room_type                                     7049 non-null   object
 34  accommodates                                  7049 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                7037 non-null   object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          6952 non-null   float64
 39  amenities                                     7049 non-null   object
 40  price                                         5541 non-null   object
 41  minimum_nights                                7049 non-null   int64
 42  maximum_nights                                7049 non-null   int64
 43  minimum_minimum_nights                        7049 non-null   int64
 44  maximum_minimum_nights                        7049 non-null   int64
 45  minimum_maximum_nights                        7049 non-null   int64
 46  maximum_maximum_nights                        7049 non-null   int64
 47  minimum_nights_avg_ntm                        7049 non-null   float64
 48  maximum_nights_avg_ntm                        7049 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5541 non-null   object
 51  availability_30                               7049 non-null   int64
 52  availability_60                               7049 non-null   int64
 53  availability_90                               7049 non-null   int64
 54  availability_365                              7049 non-null   int64
 55  calendar_last_scraped                         7049 non-null   object
 56  number_of_reviews                             7049 non-null   int64
 57  number_of_reviews_ltm                         7049 non-null   int64
 58  number_of_reviews_l30d                        7049 non-null   int64
 59  first_review                                  6424 non-null   object
 60  last_review                                   6424 non-null   object
 61  review_scores_rating                          6428 non-null   float64
 62  review_scores_accuracy                        6428 non-null   float64
 63  review_scores_cleanliness                     6428 non-null   float64
 64  review_scores_checkin                         6428 non-null   float64
 65  review_scores_communication                   6428 non-null   float64
 66  review_scores_location                        6428 non-null   float64
 67  review_scores_value                           6428 non-null   float64
 68  license                                       693 non-null    object
 69  instant_bookable                              7049 non-null   object
 70  calculated_host_listings_count                7049 non-null   int64
 71  calculated_host_listings_count_entire_homes   7049 non-null   int64
 72  calculated_host_listings_count_private_rooms  7049 non-null   int64
 73  calculated_host_listings_count_shared_rooms   7049 non-null   int64
 74  reviews_per_month                             6424 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 4.0+ MB

In [11]:
# Check the percentage of null values in listing dataset
pd.set_option('display.max_rows', 75)
print("Initial Percentage of Null Values in the Listing dataset %")
print(round(df_listings.isna().sum()/df_listings.shape[0]*100, 2).sort_values (ascending=False)) #coverted into a percent(%) and round to 2 decimal places

Initial Percentage of Null Values in the Listing dataset %
bedrooms                                        100.00
description                                     100.00
calendar_updated                                100.00
bathrooms                                       100.00
neighbourhood_group_cleansed                    100.00
license                                          90.17
host_neighbourhood                               63.85
host_about                                       43.59
neighbourhood                                    31.72
neighborhood_overview                            31.72
host_response_rate                               26.54
host_response_time                               26.54
price                                            21.39
has_availability                                 21.39
host_location                                    17.49
host_acceptance_rate                             12.46
first_review                                      8.87
last_review                                       8.87
reviews_per_month                                 8.87
review_scores_accuracy                            8.81
review_scores_location                            8.81
review_scores_rating                              8.81
review_scores_cleanliness                         8.81
review_scores_checkin                             8.81
review_scores_communication                       8.81
review_scores_value                               8.81
beds                                              1.38
host_is_superhost                                 0.45
bathrooms_text                                    0.17
calendar_last_scraped                             0.00
number_of_reviews                                 0.00
availability_365                                  0.00
availability_90                                   0.00
availability_60                                   0.00
availability_30                                   0.00
number_of_reviews_ltm                             0.00
number_of_reviews_l30d                            0.00
host_thumbnail_url                                0.00
source                                            0.00
last_scraped                                      0.00
picture_url                                       0.00
scrape_id                                         0.00
instant_bookable                                  0.00
calculated_host_listings_count                    0.00
calculated_host_listings_count_entire_homes       0.00
calculated_host_listings_count_private_rooms      0.00
calculated_host_listings_count_shared_rooms       0.00
name                                              0.00
minimum_nights_avg_ntm                            0.00
maximum_nights_avg_ntm                            0.00
host_picture_url                                  0.00
host_listings_count                               0.00
host_total_listings_count                         0.00
host_verifications                                0.00
host_has_profile_pic                              0.00
host_identity_verified                            0.00
host_since                                        0.00
neighbourhood_cleansed                            0.00
host_name                                         0.00
latitude                                          0.00
longitude                                         0.00
property_type                                     0.00
room_type                                         0.00
accommodates                                      0.00
host_url                                          0.00
listing_url                                       0.00
amenities                                         0.00
host_id                                           0.00
minimum_nights                                    0.00
maximum_nights                                    0.00
minimum_minimum_nights                            0.00
maximum_minimum_nights                            0.00
minimum_maximum_nights                            0.00
maximum_maximum_nights                            0.00
id                                                0.00
dtype: float64

In [12]:
# Check the review dataframe data types
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535577 entries, 0 to 535576
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     535577 non-null  int64
 1   id             535577 non-null  int64
 2   date           535577 non-null  object
 3   reviewer_id    535577 non-null  int64
 4   reviewer_name  535577 non-null  object
 5   comments       535542 non-null  object
dtypes: int64(3), object(3)
memory usage: 24.5+ MB

In [13]:
# Check the percentage of null values in review dataset
print("Initial Percentage of Null Values in the Review dataset %")
print(round(df_reviews.isna().sum()/df_reviews.shape[0]*100, 2).sort_values (ascending=False)) #coverted into a percent(%) and round to 2 decimal places

Initial Percentage of Null Values in the Review dataset %
comments         0.01
listing_id       0.00
id               0.00
date             0.00
reviewer_id      0.00
reviewer_name    0.00
dtype: float64

The listing dataset contains multiple columns with null values. We will investigate all of the columns by category first considering we have over 70 columns in the listing dataset. Then we will drop the columns if they either contain no useful information, contain only null values, or contain replicated information that we can retrieve from the other columns. We will also investigate the rows that contain missing values from the remaining columns and fillin these values if necessary before we decide to drop these rows. 

The review dataset seems quite clean, as we only have `comments` column contains less than 0.1% of null values, we will drop these rows from the review dataset.

***

# Clean the Review Dataset <a id="a3"></a>

First, we will clean the review dataset by removing the rows with no reviews and also remove the rows which corresponds to listings with less than 3 reviews. This is so that our review analysis later will have enough reviews for each of the Airbnb listing.

In [14]:
# Create a dataframe contains these null review data
null_reviews = df_reviews[df_reviews['comments'].isnull()]

# Check if the listings in the null_reviews dataframe have no reviews at all in the entire dataframe
df_reviews.groupby('listing_id').count().loc[null_reviews['listing_id']].isnull().sum()

id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

Therefore, we can use all the unique listing ids in the reviews dataframe to filter our listing dataframe after we drop these rows by extracting the listing ids that have more than 3 reviews.

In [15]:
# Remove these rows in the reviews dataframe
df_reviews_clean=df_reviews.drop(null_reviews.index, axis=0)

# Reset index
df_reviews_clean=df_reviews_clean.reset_index(drop=True)

# Filter listing data and only select listings with more than 3 reviews
review_counts=df_reviews_clean.groupby('listing_id').count()['id']

# Generate listing ids which has more than 3 reviews
filtered_list=[i for i in review_counts.index if review_counts[i]>=3]

# Select 'listing_id' column as dataframe index
df_reviews_clean.set_index('listing_id', inplace=True)

# Remove rows that have ids not in the generated reviews filtered list and reset index.
df_reviews_clean=df_reviews_clean.loc[filtered_list].reset_index()

***

# Clean the Listing Dataset <a id="a4"></a>

First, we will remove the listings from the extracted listing ids that have less than 3 reviews.

## First Stage Cleaning <a id="a4.1"></a>

### Remove listings with less than 3 reviews

In [16]:
# Select 'listing_id' column as dataframe index
df_listings_clean=df_listings.set_index('id')

# Remove rows that have ids not in the generated reviews filtered list and reset index.
df_listings_clean=df_listings_clean.loc[filtered_list].reset_index()

Before we remove the columns that only contain null values, we will first remove the urls and scraping related columns.

### Remove url/Scraping columns

In [17]:
# Remove url and scrape related columns
ls=[]
for i in df_listings_clean.columns:
    if ('url' in i) | ('scrape' in i):
        ls.append(i)
df_listings_clean.drop(ls, axis=1, inplace=True)
df_listings_clean.drop('source', axis=1, inplace=True)

### Remove columns only contain null values

In [18]:
# Remove columns contain no values
for i in df_listings_clean.columns:
    if df_listings_clean.isnull().sum()[i] == df_listings_clean.shape[0]:
        df_listings_clean.drop(i, axis=1, inplace=True)

## Clean Host related columns <a id="a4.2"></a>

First, we will drop the columns that contain replicated information.

In [19]:
# Create a list which has host related column names
host_columns=[]
for i in df_listings_clean.columns:
    if 'host' in i:
        host_columns.append(i)
# Show the host related column names
print(f'The columns that are related to the listing hosts are')
host_columns

The columns that are related to the listing hosts are

['host_id',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms']

We will remove the `host_name` column as names are irrelevant for our analysis, also it will include plenty duplicate values. The `host_neighbourhood` is dropped as it contains duplicate information compare to the `host_location` column.

In [20]:
# Remove 'host_name','host_total_listings_count' and 'host_listings_count' columns
df_listings_clean.drop(['host_name','host_neighbourhood', 'host_total_listings_count', 'host_listings_count'],
                       inplace=True, axis=1)

We will also remove `host_total_listings_count` and `host_listings_count` as the `calculated_host_listings_count` is the correct column showing the number of listings per host after checking.

In [21]:
# Create an array contains number of listings per host
host_listing_num=df_listings.groupby('host_id').count()['id']

# Check if the number of listings per host matches the 'calculated_host_listings_count' column
for i in host_listing_num.index:
    if host_listing_num[i] != df_listings[df_listings['host_id']==i]['calculated_host_listings_count'].unique():
        print(i, 'This one is wrong')

No error appears so the column `calculated_host_listings_count` matches `host_listing_count` column.

However, after we remove the listings with less than 3 reviews, the number of listings for the hosts will change as some of their listings will be excluded in our analysis. Therefore we will edit the column and reassign the number of listings for them.

In [22]:
# Create an array contains current number of listings per host
host_listing_num_current=df_listings_clean.groupby('host_id').count()['id']

# Make host_id as dataframe index
df_listings_clean.set_index('host_id', inplace=True)

# Reassign number of listings for these hosts
for i in host_listing_num_current.index:
    df_listings_clean.loc[i, 'calculated_host_listings_count'] = host_listing_num_current[i]

# Reset index
df_listings_clean.reset_index(inplace=True)

Next, we will look at the host related columns that contain missing values.

In [23]:
# Create a list which has host related column names
host_columns_cleaned=[]
for i in df_listings_clean.columns:
    if 'host' in i:
        host_columns_cleaned.append(i)
        
# Create a series that contains number of null values in all remaing host related columns
host_cleaned_null=df_listings_clean[host_columns_cleaned].isnull().sum()

# Use list comprehension to show the columns that have null values
host_cleaned_null[[i for i in host_cleaned_null.index if host_cleaned_null[i] !=0]]

host_location            902
host_about              2386
host_response_time      1417
host_response_rate      1417
host_acceptance_rate     596
host_is_superhost         30
dtype: int64

The `host_location` column contains the location details about the host, the `host_about` column shows the host introductions. As these columns contains texts, we can fill the null values in these columns as 'None'.

In [24]:
# Fill null values in neighbourhood_overview columns
df_listings_clean[['host_location', 'host_about']] = df_listings_clean[['host_location', 'host_about']].fillna(value='None')

The `host_response_time`, `host_response_rate` and `host_acceptance_rate` reveals similar information about how active the hosts are regard to new bookings. We will deal with these three columns seperately by first looking at what the data is like.

In [25]:
# Check the values in 'host_response_time' columns
df_listings_clean['host_response_time'].value_counts()

within an hour        3595
within a few hours     574
within a day           265
a few days or more      59
Name: host_response_time, dtype: int64

In [26]:
# Check the values in 'host_response_rate' columns
df_listings_clean['host_response_rate'].value_counts()

100%    3648
99%      250
90%      134
98%       74
80%       32
0%        31
96%       28
97%       21
93%       20
92%       17
94%       17
50%       16
83%       16
67%       15
86%       14
81%       12
88%       12
60%       12
95%       11
84%       11
89%       11
75%       11
70%       10
71%        8
57%        8
91%        7
82%        6
63%        5
29%        5
20%        5
40%        4
25%        4
78%        3
66%        3
33%        2
30%        2
58%        2
34%        2
13%        1
87%        1
10%        1
43%        1
Name: host_response_rate, dtype: int64

In [27]:
# Check the values in 'host_acceptance_rate' columns
df_listings_clean['host_acceptance_rate'].value_counts()

100%    2099
99%      838
98%      271
97%      252
96%      178
        ...
26%        1
13%        1
14%        1
30%        1
24%        1
Name: host_acceptance_rate, Length: 85, dtype: int64

Therefore, we will fill the null values in `host_response_time` as 'Not provided', convert the `host_response_rate` and `host_acceptance_rate` as floats from percentage string, and fill null values in these two columns as 0.

In [28]:
# Fill the null values in 'host_response_time' as 'Not provided'.
df_listings_clean['host_response_time'] = df_listings_clean['host_response_time'].fillna('Not provided')

# Convert the response rate as floats from percentage string and fill null values as 0.
df_listings_clean['host_response_rate'] = df_listings_clean['host_response_rate'].apply(lambda col: float(str(col).replace('%', '')))
df_listings_clean['host_response_rate'] = df_listings_clean['host_response_rate'].fillna(value=0)

# Convert the acceptance rate as floats from percentage string and fill null values as 0.
df_listings_clean['host_acceptance_rate'] = df_listings_clean['host_acceptance_rate'].apply(lambda col: float(str(col).replace('%', '')))
df_listings_clean['host_acceptance_rate'] = df_listings_clean['host_acceptance_rate'].fillna(value=0)

For the `host_is_superhost` column, the data shows if the host is a superhost using boolean values (t for true and f for false). Therefore, it is sensible to assume that a null value indicates that the host is not a superhost.

In [29]:
# Check the 'host_is_superhost' column.
df_listings_clean['host_is_superhost'].value_counts()

f    3322
t    2558
Name: host_is_superhost, dtype: int64

In [30]:
# Fillin null values for 'host_is_superhost' column by 'f'.
df_listings_clean['host_is_superhost'] = df_listings_clean['host_is_superhost'].fillna(value='f')

We can check if the current host related columns contain any null values

In [31]:
df_listings_clean[host_columns_cleaned].isnull().sum()

host_id                                         0
host_since                                      0
host_location                                   0
host_about                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_verifications                              0
host_has_profile_pic                            0
host_identity_verified                          0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

## Clean location related columns <a id="a4.3"></a>

From the listing column names, we can extract the columns that contain property location informtion. The columns are `neighbourhood_overview`, `neighbourhood`, `neighbourhood_cleansed`,`latitude`, `longtitude`. We can first see what these columns contain, then check if these columns contain any null values.

In [32]:
# Check the location columns in the first row 
df_listings_clean[['neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude']].head(1).T

                                                                                                                                                                                                                                                                                                                                                                                                                                           0
neighborhood_overview   The neighbourhood is in the historic New Town, renowned for its Georgian architecture and a World Heritage Site.  Whilst it is a 5 minute walk to Princes Street, it has its own distinctive atmosphere with lovely independent shops, boutiques, restaurants & bars.<br />To view my Guidebook, click on More about Location under the map, then click on Show Host Guidebook at the bottom of the Location pop-up.
neighbourhood                                                                                                                                                                                                                                                                                                                                                                                   Edinburgh, City of Edinburgh, United Kingdom
neighbourhood_cleansed                                                                                                                                                                                                                                                                                                                                                                             Old Town, Princes Street and Leith Street
latitude                                                                                                                                                                                                                                                                                                                                                                                                                            55.95759
longitude                                                                                                                                                                                                                                                                                                                                                                                                                           -3.18805

In [33]:
# Check if the property location related columns have any null values
df_listings_clean[['neighborhood_overview', 'neighbourhood', 'neighbourhood_cleansed', 'latitude', 'longitude']].isnull().sum()

neighborhood_overview     1589
neighbourhood             1589
neighbourhood_cleansed       0
latitude                     0
longitude                    0
dtype: int64

The `neighborhood_overview` column shows the neighborhood information hosts write about the listing, thus we can fill the null values in this column as 'None'. The `neighbourhood` column contains replicated information as the `neighborhood_overview` column, thus we can drop this column.

In [34]:
# Fill the null values in the neighborhood_overview column as None
df_listings_clean['neighborhood_overview'] = df_listings_clean['neighborhood_overview'].fillna('None')

# Remove neighbourhood column
df_listings_clean.drop('neighbourhood', axis=1, inplace= True)

## Clean property related columns <a id="a4.4"></a>

The listing dataset contains multiple columns that are related to the property itself. This includes `name`,`property_type`,`room_type`,`accomodates`,`bathrooms_text`,`beds`,and `amenities`. We will first see what these columns contain, then check if these columns contain null values.

In [35]:
# Check the property related columns in the first row 
df_listings_clean[['name','property_type','room_type','accommodates','bathrooms_text','beds','amenities']].head(1).T

                                                                            0
name            Rental unit in Edinburgh Â· â˜…4.98 Â· 1 bedroom Â· 1 bed Â· 1 bath
property_type                                              Entire rental unit
room_type                                                     Entire home/apt
accommodates                                                                2
bathrooms_text                                                         1 bath
beds                                                                      1.0
amenities                                                                  []

In [36]:
# Check if the property related columns contain any null values
df_listings_clean[['name','property_type','room_type','accommodates','bathrooms_text','beds','amenities']].isnull().sum()

name               0
property_type      0
room_type          0
accommodates       0
bathrooms_text     4
beds              47
amenities          0
dtype: int64

By checking the amentities column, we observe that no useful information is contained therefore we will drop this column.

In [37]:
# Check the amentities column
df_listings_clean['amenities'].value_counts()

[]    5910
Name: amenities, dtype: int64

In [38]:
# Drop amentities column
df_listings_clean.drop('amenities', axis=1, inplace=True)

The name of the property contains the information of the property_type, location, star rating, number of bedrooms and number of bathrooms. Therefore, we can extract the information in this column to fill the null values in the `bathrooms_text` and the `beds` columns first, then drop this column.

For the 'bathrooms_text', we can check what the rows that contain these data looks like in our dataframe.

In [39]:
# Check the rows that contains missing bathroom_text data.
df_listings_clean[df_listings_clean['bathrooms_text'].isnull()].T

,83,151,228,536
host_id,2989965,7385507,12724800,20509940
id,641460,1360543,2486691,6909721
name,Serviced apartment in Edinburgh Â· â˜…4.54 Â· 2 bedrooms Â· 4 beds,Home in Edinburgh Â· â˜…4.67 Â· 1 bedroom Â· 1 bed,Rental unit in Edinburgh Â· â˜…4.93 Â· 1 bedroom Â· 1 bed,Hostel in Edinburgh Â· â˜…4.68 Â· Studio Â· 1 bed
neighborhood_overview,"There is a 24-hour Asda supermarket located within 5 minutesâ€™ drive from the apartments with ample parking provided.<br /><br />There is also a wide range of restaurants within 10 minutesâ€™ walk from the apartments. These include Loch Fyne, The Lodge and Porto & Fi. Ocean Terminal shopping centre offers great shopping, dining and cinema, all under one roof. This shopping centre is located approximately 15 minutesâ€™ walk from our apartments.",None,"Beautiful neighbourhood, situated in a wide, tree-lined, cobbled avenue right next to Edinburgh's wonderful meadows. Only 10 minutes walk from centre of Edinburgh, the Marchmont area is gifted with leafy surroundings, a choice of street cafes, restaurants, small local shops, supermarket, gym and swimming pool within 5- 10 minutes walk.","Whether you're visiting for the Fringe festival, a Rugby match, or to learn about the city's rich history, there's no shortage of things to do in Edinburgh."
host_since,2012-07-19,2013-07-09,2014-03-02,2014-08-25
host_location,"Edinburgh, United Kingdom","Edinburgh, United Kingdom","Edinburgh, United Kingdom",None
host_about,"Hi, We are Ocean Serviced Apartments.\r\nWe have a team of 8 staff members, running a very professional serviced apartment company. \r\nWe only provide good quality serviced apartments in Edinburgh. \r\nPerfect for holidays, city breaks and business travellers.\r\n\r\nWith only a few staff members we aim to always have happy guests.\r\nPlease contact us for any information before, during and after your stay,\r\n","Local Scotsman, from Oban originally, but lived in Edinburgh for many years.","Everyone has a story, let's talk!",None
host_response_time,Not provided,within a few hours,Not provided,within an hour
host_response_rate,0.0,100.0,0.0,96.0
host_acceptance_rate,100.0,0.0,0.0,100.0
host_is_superhost,f,f,f,f
host_verifications,"['email', 'phone', 'work_email']","['email', 'phone']","['email', 'phone', 'work_email']","['email', 'phone']"
host_has_profile_pic,t,t,t,t
host_identity_verified,f,t,t,t
neighbourhood_cleansed,Western Harbour and Leith Docks,Deans Village,Marchmont West,"Old Town, Princes Street and Leith Street"
latitude,55.98616,55.94985,55.93767,55.95123
longitude,-3.18849,-3.21821,-3.19818,-3.20041
property_type,Room in serviced apartment,Private room in home,Private room in rental unit,Room in hostel
room_type,Hotel room,Private room,Private room,Hotel room
accommodates,5,2,2,2
bathrooms_text,NaN,NaN,NaN,NaN
beds,4.0,1.0,1.0,1.0
price,$200.00,$100.00,NaN,$196.00
minimum_nights,4,90,3,1
maximum_nights,300,1125,1125,365
minimum_minimum_nights,4,90,3,1
maximum_minimum_nights,4,90,3,3
minimum_maximum_nights,1125,1125,1125,365
maximum_maximum_nights,1125,1125,1125,365
minimum_nights_avg_ntm,4.0,90.0,3.0,2.9
maximum_nights_avg_ntm,1125.0,1125.0,1125.0,365.0
has_availability,t,t,NaN,t
availability_30,0,0,0,11
availability_60,0,0,0,37
availability_90,0,0,0,64
availability_365,4,1,0,298
number_of_reviews,82,18,14,22
number_of_reviews_ltm,1,0,0,2
number_of_reviews_l30d,0,0,0,0
first_review,2013-08-13,2013-08-07,2015-02-20,2015-09-21
last_review,2023-08-12,2018-01-03,2018-06-20,2023-11-15
review_scores_rating,4.54,4.67,4.93,4.68
review_scores_accuracy,4.76,4.89,5.0,4.68
review_scores_cleanliness,4.67,4.44,4.79,4.68
review_scores_checkin,4.6,4.83,5.0,4.59
review_scores_communication,4.62,4.83,4.93,4.68
review_scores_location,4.47,4.78,4.93,4.82
review_scores_value,4.54,4.5,4.71,4.68
license,NaN,NaN,NaN,NaN
instant_bookable,t,f,f,t
calculated_host_listings_count,5,1,1,6
calculated_host_listings_count_entire_homes,4,0,0,0
calculated_host_listings_count_private_rooms,0,1,1,1
calculated_host_listings_count_shared_rooms,0,0,0,2
reviews_per_month,0.65,0.14,0.13,0.22

In [40]:
# Check the distinct column values in the bathrooms_text column.
df_listings_clean['bathrooms_text'].value_counts()

1 bath               2887
1 shared bath         861
2 baths               803
1.5 baths             429
1 private bath        415
1.5 shared baths      165
3 baths                99
2.5 baths              78
2 shared baths         47
3.5 baths              21
0 baths                19
2.5 shared baths       15
4 baths                15
Half-bath              12
Shared half-bath       11
0 shared baths          7
5 baths                 6
5.5 baths               4
3 shared baths          3
4.5 baths               2
7 baths                 1
9 shared baths          1
9 baths                 1
6.5 baths               1
8.5 baths               1
6 baths                 1
Private half-bath       1
Name: bathrooms_text, dtype: int64

Therefore, we will first fill the null values as 0 for both newly added columns, then convert this text column into numerical columns by appending two numerical columns `bathroom_num` and `private_bath` where `bathroom_num` gives the number of bathrooms and `private_bath` shows 1 if the bathrooms are private, and 0 if the bathrooms are shared.

In [41]:
# Fill in the missing bathroom_text data
df_listings_clean['bathrooms_text']=df_listings_clean['bathrooms_text'].fillna(value='0 shared baths')

In [42]:
# Add 0.5 in front of Half baths
for i in range(df_listings_clean.shape[0]):
    if 'alf' in df_listings_clean['bathrooms_text'][i]:
        df_listings_clean.loc[i, 'bathrooms_text'] = '0.5 '+ df_listings_clean.loc[i, 'bathrooms_text']

In [43]:
# Extract numbers and if shared information from the bathroom text column
private_bath=[]
for i in range(df_listings_clean.shape[0]):
    if 'hared' in df_listings_clean.loc[i, 'bathrooms_text']:
        private_bath.append(0)
    else:
        private_bath.append(1)
    df_listings_clean.loc[i, 'bathrooms_text'] = float(df_listings_clean.loc[i, 'bathrooms_text'].split()[0])

# Add the binary column to our dataframe
df_listings_clean['private_bath']=private_bath

# Rename bathrooms_text to bathroom_num
df_listings_clean.rename(columns={'bathrooms_text': 'bathroom_num'}, inplace=True)

# Convert the column type to float
df_listings_clean['bathroom_num']=df_listings_clean['bathroom_num'].astype(float)

Now we can add the missing bedroom numbers by checking the name of the property.

In [44]:
# Get the row index for the rows contain missing beds data
index_beds_missing=df_listings_clean[df_listings_clean['beds'].isnull()].index

# Get the corresponding names data
names_beds_missing=df_listings_clean.loc[index_beds_missing, 'name']

# Extract bed counts from the names data
extract_beds=[]
for i in names_beds_missing.index:
    j=names_beds_missing[i].split()
    for k in range(len(j)):
        if 'bedroom' in j[k]:
            extract_beds.append(float(j[k-1]))
        elif 'Studio' in j[k]:
            extract_beds.append(1)
        elif 'Camper' in j[k]:
            extract_beds.append(1)

# Fill missing values of beds using extracted beds number
df_listings_clean.loc[df_listings_clean['beds'].isnull(), 'beds']=extract_beds

Then we can drop the `name` column

In [45]:
# Drop name column 
df_listings_clean.drop('name', axis=1, inplace=True)

## Clean other columns <a id="a4.5"></a>

We can check what are the columns that still contain null values in our current listing dataset.

In [46]:
# Create temporary series object that contains the number of null values for each column in the listing dataframe
temp_null_series=df_listings_clean.isnull().sum()

# Use list comprehension to show the columns that have null values
temp_null_series[[i for i in temp_null_series.index if temp_null_series[i] !=0]]

price               1216
has_availability    1216
license             5247
dtype: int64

By checking the percentage of the null values in the license column, we observe that it contains null values in nearly 90% of the rows. Therefore, we will drop the `license` column.

In [47]:
# Check the proportion of the null values in the license column
print('Percentage of Null Values % in the license column is')
print(round(df_listings_clean['license'].isnull().sum()/len(df_listings_clean)*100, 2)) #coverted into a percent(%) and round to 2 decimal places

Percentage of Null Values % in the license column is
88.78

In [48]:
# Drop the license column
df_listings_clean.drop('license', axis=1, inplace=True)

Next, we will check what values the `price` and `has_availability` columns contain.

In [49]:
# Check the price column
df_listings_clean['price'].value_counts()

$100.00      85
$150.00      76
$120.00      62
$90.00       61
$200.00      60
             ..
$995.00       1
$1,747.00     1
$545.00       1
$524.00       1
$407.00       1
Name: price, Length: 520, dtype: int64

Therefore, we can first convert the values into floats, then try to fill the null values by using other columns in the dataset to predict the price values.

In [50]:
# Convert 'price' column to numbers
price_int=[]
for i in range(len(df_listings_clean['price'])):
    p=df_listings_clean['price'][i]
    if type(p) == str:
        n=p.split('$')[1]
        if ',' in list(n):
            n_no_comma=''.join([x for x in n if x != ','])
            price_int.append(float(n_no_comma))  
        else:
            price_int.append(float(n))
    else:
        price_int.append(np.nan)
df_listings_clean['price']=price_int

# Convert existing column to float for future filtering
df_listings_clean['price']=df_listings_clean['price'].astype(float)

In [51]:
# Check the had_avalibility column
df_listings_clean['has_availability'].value_counts()

t    4684
f      10
Name: has_availability, dtype: int64

We will assume that the listings with this column absent has no availability, thus we will fill the null values using 'f'.

In [52]:
# Fill the null values in has_availability using 'f'
df_listings_clean['has_availability']=df_listings_clean['has_availability'].fillna(value='f')

### Check current null values

In [53]:
# Return pandas series contain percentage of null values
per_null_listing=df_listings_clean.isnull().sum()/df_listings_clean.shape[0]

# Return the non null column name
non_null_col = per_null_listing.loc[per_null_listing!=0].index

# Return the null value percentage
per_null = per_null_listing.loc[per_null_listing!=0].values

print('The column that still contains null values is')
print(list(non_null_col)[0])
print('has percentage of null values %')
print(f'{round(float(per_null)*100, 2)}%')

The column that still contains null values is
price
has percentage of null values %
20.58%

In [54]:
# Check the percentage of the null values in the current review dataset
df_reviews_clean.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

We see that only `price` column has null values, so we can potentially use a simple linear regression to attempt filling these null values.

### Remove Irrelevant Information Columns

In [55]:
# Remove columns that are irrelevant and difficult to interpret
df_listings_clean.drop(['minimum_minimum_nights', 
                        'maximum_minimum_nights', 
                        'minimum_maximum_nights', 
                        'minimum_nights_avg_ntm', 
                        'maximum_nights_avg_ntm', 
                        'maximum_maximum_nights',
                        'availability_30', 
                        'availability_60', 
                        'availability_90',
                        'availability_365', 
                        'number_of_reviews_l30d'], axis =1, inplace=True)

***

# Fillin null values in `price` column <a id="a5"></a>

#### Import libraries for linear regression

In [56]:
# Import linear regression libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

#### Convert binary columns with 't' and 'f' to 0 and 1

In [57]:
# Select the binary columns then convert the values to 0 and 1 using a map function
for i in df_listings_clean.select_dtypes(include=['object']).columns:
    if set(df_listings_clean[i].unique()) == {'t', 'f'}:
        df_listings_clean[i] = df_listings_clean[i].map({'t': 0, 'f': 1})

#### Extract rows with null price values and select numerical columns

In [58]:
# Select numerical columns
df_listings_num=df_listings_clean.select_dtypes(exclude='object')

# Drop id columns
df_listings_num.drop(['id', 'host_id'], axis=1, inplace=True)

# Split the listing dataset into data with known price and rows with null values for price
df_price=df_listings_num[df_listings_num['price'].isnull()==False]
df_non_price=df_listings_num[df_listings_num['price'].isnull()]

#### Train test split on the labelled dataset

In [59]:
# Define features and target variable
X=df_price.drop('price', axis=1)
y=df_price['price']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Scale the features

In [60]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

#### Train the linear regression model

In [61]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [62]:
X_train

,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,latitude,longitude,accommodates,bathroom_num,beds,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,private_bath
761,90.0,100.0,1,0,0,55.956130,-3.164320,4,1.0,2.0,...,4.68,4.65,4.50,0,1,1,0,0,2.27,1
4921,99.0,94.0,1,0,0,55.955168,-3.155685,5,1.0,3.0,...,4.33,4.83,4.50,0,19,23,0,0,0.47,1
3222,0.0,100.0,0,0,0,55.962220,-3.196670,4,1.0,2.0,...,4.95,4.86,4.87,0,2,2,0,0,3.57,1
4798,100.0,99.0,0,0,0,55.949093,-3.189248,4,1.0,2.0,...,4.97,4.92,4.94,0,2,2,0,0,4.14,1
5287,100.0,100.0,0,0,0,55.949205,-3.213850,4,1.0,2.0,...,4.88,4.88,4.88,0,14,23,0,0,1.79,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5605,100.0,100.0,0,0,0,55.966503,-3.165247,4,1.0,2.0,...,5.00,4.75,4.75,0,2,1,1,0,0.94,1
559,90.0,100.0,0,0,0,55.946480,-3.191020,4,1.5,2.0,...,4.94,4.96,4.82,0,1,1,0,0,1.32,1
3969,100.0,95.0,0,0,0,55.958680,-3.185580,2,1.5,1.0,...,4.93,4.91,4.57,1,1,0,1,0,3.69,1
4846,80.0,92.0,0,0,0,55.961240,-3.276270,2,1.0,1.0,...,4.77,4.81,4.74,1,3,0,3,0,2.10,0
1081,100.0,100.0,1,0,0,55.947631,-3.195609,4,2.0,3.0,...,4.94,4.99,4.81,0,1,1,0,0,3.21,1

In [63]:
r2_score(y_train, model.predict(X_train_scaled))

0.07521405128172287

In [64]:
y_pred = model.predict(X_test_scaled)
r2 = r2_score(y_test, y_pred)
print("R-squared Score:", r2)

R-squared Score: 0.09025710599023773

In [65]:
df_listings_clean_no_price= df_listings_clean.drop('price', axis=1)

# Extract Datasets <a id="a6"></a>

In [66]:
# Save data as pickle file in my data folder
joblib.dump(df_listings_clean, 'data/df_listings_clean.pkl')

['data/df_listings_clean.pkl']

In [67]:
# Save data as pickle file in my data folder
joblib.dump(df_reviews_clean, 'data/df_reviews_clean.pkl')

['data/df_reviews_clean.pkl']

In [68]:
# Save data as pickle file in my data folder
joblib.dump(df_listings_clean_no_price, 'data/df_listings_clean_no_price.pkl')

['data/df_listings_clean_no_price.pkl']

# Summary <a id="a7"></a>

In this notebook, both the Airbnb listing dataset and the review dataset are cleaned. Additionally, we preprocessed some of the binary columns and ensured that our data is of its highest quality before we move forward in our analysis. 

Some potential columns that could be processed are host_response_time, host_verifications, property_type, room_type. These columns are currently of type object and can be preprosses using one hot encoding methods. For now, we will explore ouor data in more detail with the assistance of visualisations. These exploratory data analysis results can be found in the next notebook CL_Capstone_EDA.